<h1>Table of Contents (Clickable in sidebar)<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#The-revised-research-question" data-toc-modified-id="The-revised-research-question-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>The revised research question</a></span></li><li><span><a href="#Libraries-and-modules" data-toc-modified-id="Libraries-and-modules-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Libraries and modules</a></span></li><li><span><a href="#Combine-CCKP--Timeseries-Files-and-Add-a-CountryYear-Key" data-toc-modified-id="Combine-CCKP--Timeseries-Files-and-Add-a-CountryYear-Key-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Combine CCKP  Timeseries Files and Add a CountryYear Key</a></span></li><li><span><a href="#The-Climate-Change-Knowledge-Portal.-(n.d.).-Retrieved-February-20,-2023,-from-https://climateknowledgeportal.worldbank.org/" data-toc-modified-id="The-Climate-Change-Knowledge-Portal.-(n.d.).-Retrieved-February-20,-2023,-from-https://climateknowledgeportal.worldbank.org/-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>The Climate Change Knowledge Portal. (n.d.). Retrieved February 20, 2023, from <a href="https://climateknowledgeportal.worldbank.org/" rel="nofollow" target="_blank">https://climateknowledgeportal.worldbank.org/</a></a></span></li><li><span><a href="#The-FAOSTAT-and-CCKP-data-become-one!" data-toc-modified-id="The-FAOSTAT-and-CCKP-data-become-one!-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>The FAOSTAT and CCKP data become one!</a></span></li><li><span><a href="#Visualisation" data-toc-modified-id="Visualisation-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Visualisation</a></span></li><li><span><a href="#Distribution-of-Beef-Stocks-Production-by-Country-and-Year" data-toc-modified-id="Distribution-of-Beef-Stocks-Production-by-Country-and-Year-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Distribution of Beef Stocks Production by Country and Year</a></span></li><li><span><a href="#Functions" data-toc-modified-id="Functions-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Functions</a></span><ul class="toc-item"><li><span><a href="#Data-Input/Output:" data-toc-modified-id="Data-Input/Output:-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Data Input/Output:</a></span></li><li><span><a href="#Data-Cleaning:" data-toc-modified-id="Data-Cleaning:-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>Data Cleaning:</a></span></li><li><span><a href="#Data-Exploration:" data-toc-modified-id="Data-Exploration:-8.3"><span class="toc-item-num">8.3&nbsp;&nbsp;</span>Data Exploration:</a></span></li><li><span><a href="#Data-Transformation" data-toc-modified-id="Data-Transformation-8.4"><span class="toc-item-num">8.4&nbsp;&nbsp;</span>Data Transformation</a></span><ul class="toc-item"><li><span><a href="#Split" data-toc-modified-id="Split-8.4.1"><span class="toc-item-num">8.4.1&nbsp;&nbsp;</span>Split</a></span></li></ul></li><li><span><a href="#Data-Combination:" data-toc-modified-id="Data-Combination:-8.5"><span class="toc-item-num">8.5&nbsp;&nbsp;</span>Data Combination:</a></span><ul class="toc-item"><li><span><a href="#Pascal" data-toc-modified-id="Pascal-8.5.1"><span class="toc-item-num">8.5.1&nbsp;&nbsp;</span>Pascal</a></span></li><li><span><a href="#Total-Character" data-toc-modified-id="Total-Character-8.5.2"><span class="toc-item-num">8.5.2&nbsp;&nbsp;</span>Total Character</a></span></li></ul></li><li><span><a href="#Scanners,--Readers-and-Writers" data-toc-modified-id="Scanners,--Readers-and-Writers-8.6"><span class="toc-item-num">8.6&nbsp;&nbsp;</span>Scanners,  Readers and Writers</a></span><ul class="toc-item"><li><span><a href="#Scanners" data-toc-modified-id="Scanners-8.6.1"><span class="toc-item-num">8.6.1&nbsp;&nbsp;</span>Scanners</a></span></li><li><span><a href="#Readers" data-toc-modified-id="Readers-8.6.2"><span class="toc-item-num">8.6.2&nbsp;&nbsp;</span>Readers</a></span></li><li><span><a href="#Splitters" data-toc-modified-id="Splitters-8.6.3"><span class="toc-item-num">8.6.3&nbsp;&nbsp;</span>Splitters</a></span></li><li><span><a href="#Delete" data-toc-modified-id="Delete-8.6.4"><span class="toc-item-num">8.6.4&nbsp;&nbsp;</span>Delete</a></span></li><li><span><a href="#Rename" data-toc-modified-id="Rename-8.6.5"><span class="toc-item-num">8.6.5&nbsp;&nbsp;</span>Rename</a></span></li><li><span><a href="#Replace" data-toc-modified-id="Replace-8.6.6"><span class="toc-item-num">8.6.6&nbsp;&nbsp;</span>Replace</a></span></li></ul></li><li><span><a href="#Data-Processing" data-toc-modified-id="Data-Processing-8.7"><span class="toc-item-num">8.7&nbsp;&nbsp;</span>Data Processing</a></span></li><li><span><a href="#String-Manipulation" data-toc-modified-id="String-Manipulation-8.8"><span class="toc-item-num">8.8&nbsp;&nbsp;</span>String Manipulation</a></span></li><li><span><a href="#File-System-Operations" data-toc-modified-id="File-System-Operations-8.9"><span class="toc-item-num">8.9&nbsp;&nbsp;</span>File System Operations</a></span></li></ul></li><li><span><a href="#Introduction" data-toc-modified-id="Introduction-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Modules-Functions-Libraries-and-How-to-Use" data-toc-modified-id="Modules-Functions-Libraries-and-How-to-Use-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Modules Functions Libraries and How to Use</a></span></li><li><span><a href="#Appendices" data-toc-modified-id="Appendices-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Appendices</a></span><ul class="toc-item"><li><span><a href="#FAOSTAT-Data-Domains" data-toc-modified-id="FAOSTAT-Data-Domains-11.1"><span class="toc-item-num">11.1&nbsp;&nbsp;</span>FAOSTAT Data Domains</a></span></li></ul></li><li><span><a href="#Climate--Data-Preparation" data-toc-modified-id="Climate--Data-Preparation-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>Climate  Data Preparation</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#About-FAOSTAT" data-toc-modified-id="About-FAOSTAT-12.0.1"><span class="toc-item-num">12.0.1&nbsp;&nbsp;</span>About FAOSTAT</a></span></li><li><span><a href="#Licencing" data-toc-modified-id="Licencing-12.0.2"><span class="toc-item-num">12.0.2&nbsp;&nbsp;</span>Licencing</a></span></li><li><span><a href="#CCKP-Data--and-an-initial-bit-of-EDA" data-toc-modified-id="CCKP-Data--and-an-initial-bit-of-EDA-12.0.3"><span class="toc-item-num">12.0.3&nbsp;&nbsp;</span>CCKP Data  and an initial bit of EDA</a></span></li></ul></li></ul></li></ul></div>

# Visualisation and multivariate time series analysis  for Irish Beef Monday

## The revised research question
How has Ireland's beef sector performed compared to the EU 27 countries since 2000, and can we forecast future prices using this historical data? Additionally, what can we learn from sentiment analysis of the beef industry during this time period? By focusing on data from 2000 onwards, we can better capture the current state of the beef industry and make more relevant predictions about future trends. At the end of 1999, the Benelux union ceased to report beef stock data as a single entity, as each member country began reporting its data individually. This change reflected the increasing economic development and growth of the individual countries within the union. This not only created the data reason for us to only researh the 21st era but it also provides a fiscal reason for the refining of the researh question.
## Libraries and modules

In [2]:

### Data Manipulation and Analysis
import csv
import pandas as pd
import numpy as np
import fancyimpute
import missingno as msno
from functools import partial, reduce

### Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import matplotlib.image as mpimg

### Statistical Analysis
from scipy.stats import ks_2samp, shapiro

### Machine Learning
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import ElasticNet, Lasso, LinearRegression, Ridge
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import LinearSVR

### Text Processing
import html
import re

### Country Information
from countryinfo import CountryInfo
import pycountry
from countrygroups import EUROPEAN_UNION

### File System and OS
import glob
import os

### Date and Time
import datetime
import time

### Data Presentation
from tabulate import tabulate
from IPython.display import HTML, Image, display

### Data Types
from typing import Dict, List, Tuple


##  Combine CCKP  Timeseries Files and Add a CountryYear Key

The combine_timeseries_files function reads multiple CSV files from the rain or temperature subfolders.Referencing the first five rows of Rain_IRL_df  below  the first unnamed column gives the year and based on position the name of the country is extracted. The function then forms a Key by concatrenating the Country and Year values together. This 'Key' column  will be  used to merge with our Cattle Stocks data   to single dataframe. It filters to only include the first two columns, which are Year and corresponding weather measurements and as such, it drops all redundant regional readings. The resulting dataframe contains the weather data of 27 European countries.

In [3]:
Rain_IRL_df = pd.read_csv('rain/pr_timeseries_annual_cru_1901-2021_IRL.csv')# loads the individual Irish rain data
Rain_IRL_df.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,Variable:,pr
NaN,Ireland,Carlow,Cavan,Clare,Cork,Donegal,Dublin,Galway,Kerry,Kildare,Kilkenny,Laois,Leitrim,Limerick,Longford,Louth,Mayo,Meath,Monaghan,Munster,Offaly,Roscommon,Sligo,Tipperary,Waterford,Westmeath,Wexford,Wicklow
1901.0,1068.52,983.20,1018.93,1055.24,1153.06,1288.02,942.31,1044.95,1323.52,861.02,945.54,882.59,1184.19,1059.33,986.53,875.52,1156.31,861.07,933.47,933.47,851.14,1008.41,1206.83,1030.92,1129.96,901.61,988.85,978.16
1902.0,1016.31,965.42,939.44,1004.48,1119.44,1167.77,934.83,984.17,1277.05,857.92,926.28,863.97,1076.99,1022.06,907.86,834.92,1053.70,824.53,864.39,864.39,831.83,943.86,1087.75,1002.13,1101.99,852.81,967.98,966.45
1903.0,1368.16,1282.10,1235.62,1376.31,1525.32,1564.40,1197.84,1350.96,1747.10,1101.33,1236.78,1156.36,1443.61,1392.88,1209.04,1055.55,1445.43,1055.06,1131.68,1131.68,1116.15,1280.60,1479.39,1355.40,1484.59,1134.94,1275.17,1256.88
1904.0,1081.95,970.03,985.97,1114.46,1235.12,1282.28,902.41,1069.77,1421.42,844.14,938.61,872.85,1151.71,1107.92,946.22,824.66,1164.06,826.20,906.37,906.37,840.18,1003.16,1173.82,1041.08,1144.26,873.39,974.31,950.28



## The Climate Change Knowledge Portal. (n.d.). Retrieved February 20, 2023, from https://climateknowledgeportal.worldbank.org/

The Climate Change Knowledge Portal. (n.d.). Retrieved February 20, 2023, from https://climateknowledgeportal.worldbank.org/

| Rainfall data files from 'rain folder  | Temperature data files from 'tempature folder|
|:----------:|:----------------:|
| pr_timeseries_annual_cru_1901-2021_AUT.csv | tas_timeseries_annual_cru_1901-2021_AUT.csv |
| pr_timeseries_annual_cru_1901-2021_BEL.csv | tas_timeseries_annual_cru_1901-2021_BEL.csv |
| pr_timeseries_annual_cru_1901-2021_BGR.csv | tas_timeseries_annual_cru_1901-2021_BGR.csv |
| pr_timeseries_annual_cru_1901-2021_CYP.csv | tas_timeseries_annual_cru_1901-2021_CYP.csv |
| pr_timeseries_annual_cru_1901-2021_CZE.csv | tas_timeseries_annual_cru_1901-2021_CZE.csv |
| pr_timeseries_annual_cru_1901-2021_DEU.csv | tas_timeseries_annual_cru_1901-2021_DEU.csv |
| pr_timeseries_annual_cru_1901-2021_DNK.csv | tas_timeseries_annual_cru_1901-2021_DNK.csv |
| pr_timeseries_annual_cru_1901-2021_ESP.csv | tas_timeseries_annual_cru_1901-2021_ESP.csv |
| pr_timeseries_annual_cru_1901-2021_EST.csv | tas_timeseries_annual_cru_1901-2021_EST.csv |
| pr_timeseries_annual_cru_1901-2021_FIN.csv | tas_timeseries_annual_cru_1901-2021_FIN.csv |
| pr_timeseries_annual_cru_1901-2021_FRA.csv | tas_timeseries_annual_cru_1901-2021_FRA.csv |
| pr_timeseries_annual_cru_1901-2021_GRC.csv | tas_timeseries_annual_cru_1901-2021_GRC.csv |
| pr_timeseries_annual_cru_1901-2021_HRV.csv | tas_timeseries_annual_cru_1901-2021_HRV.csv |
| pr_timeseries_annual_cru_1901-2021_HUN.csv | tas_timeseries_annual_cru_1901-2021_HUN.csv |
| pr_timeseries_annual_cru_1901-2021_IRL.csv | tas_timeseries_annual_cru_1901-2021_IRL.csv |
| pr_timeseries_annual_cru_1901-2021_ITA.csv | tas_timeseries_annual_cru_1901-2021_ITA.csv |
| pr_timeseries_annual_cru_1901-2021_LTU.csv | tas_timeseries_annual_cru_1901-2021_LTU.csv |
| pr_timeseries_annual_cru_1901-2021_LUX.csv | tas_timeseries_annual_cru_1901-2021_LUX.csv |
| pr_timeseries_annual_cru_1901-2021_LVA.csv | tas_timeseries_annual_cru_1901-2021_LVA.csv |
| pr_timeseries_annual_cru_1901-2021_MLT.csv | tas_timeseries_annual_cru_1901-2021_MLT.csv |
| pr_timeseries_annual_cru_1901-2021_NLD.csv | tas_timeseries_annual_cru_1901-202

In [37]:
def combine_timeseries_files(path: str, subfolder: str, col_name: str) -> pd.DataFrame:
    """Reads in all CSV files in the given subfolder of the directory, renames the first unnamed column based on its position,
    and combines the resulting dataframes together into a single dataframe.
    Args:
        path (str): The relative path of the directory containing the data.
        subfolder (str): The name of the subfolder within the directory to read the CSV files from.
        col_name (str): The name to assign to the specified column in the resulting dataframe.
    Returns:
        pandas.DataFrame: The resulting dataframe after combining data from all CSV files in the specified subfolder.
    """
    try:
        folder_path = os.path.join(path, subfolder)
        csv_filenames = glob.glob(folder_path + "/*.csv")
        # Read in all CSV files, rename the first unnamed column based on position, and filter to only include the 'key' and specified column
        processed_dfs = []
        for filename in csv_filenames:
            file_path = os.path.join(path, subfolder, os.path.basename(filename))
            df = pd.read_csv(file_path, on_bad_lines='skip', skiprows=1)
            if df.columns[0].startswith("Unnamed"):
                df.rename(columns={df.columns[0]: "Year"}, inplace=True)
            df['Key'] = df.columns[1] + df['Year'].astype(str)
            df.rename(columns={df.columns[1]: col_name}, inplace=True)
            df = df.filter(['Key', col_name])
            processed_dfs.append(df)
        # Concatenate all dataframes into a single dataframe
        df = pd.concat(processed_dfs, ignore_index=True)
        return df
    except Exception as e:
        print(f"Error combining CSV files in folder {folder_path}: {e}")

## The FAOSTAT and CCKP data become one!

In [38]:
rain_df = combine_timeseries_files('', 'rain', 'R_mm/y')
# save the rain DataFrame to a CSV file
rain_df.to_csv('clean/rain.csv', index=False)
rain_df.head()

           Key   R_mm/y
0  Austria1901  1052.84
1  Austria1902  1061.55
2  Austria1903  1201.34
3  Austria1904  1146.14
4  Austria1905  1127.85

In [39]:
temperature_df = combine_timeseries_files('', 'temperature', 'T(\u00b0C)')
# save the rain DataFrame to a CSV file
temperature_df.to_csv('clean/temperature.csv', index=False)
temperature_df

              Key  T(°C)
0     Austria1901   5.41
1     Austria1902   5.34
2     Austria1903   5.88
3     Austria1904   6.22
4     Austria1905   5.79
...           ...    ...
3262   Sweden2017   3.16
3263   Sweden2018   3.62
3264   Sweden2019   3.34
3265   Sweden2020   4.47
3266   Sweden2021   3.02

[3267 rows x 2 columns]

In [40]:

stock_df = pd.read_csv('clean/stock.csv')# loads the cleaned cattle stock  CSV file to pandas DataFrame n df

df=stock_df
stock_df

     Country  Year    Stock
0    Austria  2000  2152811
1    Austria  2001  2155447
2    Austria  2002  2118454
3    Austria  2003  2066942
4    Austria  2004  2052033
..       ...   ...      ...
589   Sweden  2017  1448590
590   Sweden  2018  1435450
591   Sweden  2019  1404670
592   Sweden  2020  1390960
593   Sweden  2021  1389890

[594 rows x 3 columns]

In [41]:
df['Key'] = df['Country'] + df['Year'].astype(str)# adds a unique key column 
df

     Country  Year    Stock          Key
0    Austria  2000  2152811  Austria2000
1    Austria  2001  2155447  Austria2001
2    Austria  2002  2118454  Austria2002
3    Austria  2003  2066942  Austria2003
4    Austria  2004  2052033  Austria2004
..       ...   ...      ...          ...
589   Sweden  2017  1448590   Sweden2017
590   Sweden  2018  1435450   Sweden2018
591   Sweden  2019  1404670   Sweden2019
592   Sweden  2020  1390960   Sweden2020
593   Sweden  2021  1389890   Sweden2021

[594 rows x 4 columns]

In [42]:
df = pd.merge(df, rain_df, on='Key')
print(df.shape)
df

(594, 5)

     Country  Year    Stock          Key   R_mm/y
0    Austria  2000  2152811  Austria2000  1171.79
1    Austria  2001  2155447  Austria2001  1058.36
2    Austria  2002  2118454  Austria2002  1212.56
3    Austria  2003  2066942  Austria2003   891.80
4    Austria  2004  2052033  Austria2004  1080.30
..       ...   ...      ...          ...      ...
589   Sweden  2017  1448590   Sweden2017   678.22
590   Sweden  2018  1435450   Sweden2018   539.63
591   Sweden  2019  1404670   Sweden2019   682.36
592   Sweden  2020  1390960   Sweden2020   669.34
593   Sweden  2021  1389890   Sweden2021   608.87

[594 rows x 5 columns]

In [11]:
df = pd.merge(df, temperature_df, on='Key')
print(df.shape)
df

(594, 6)

     Country  Year    Stock          Key   R_mm/y  T(°C)
0    Austria  2000  2152811  Austria2000  1171.79   7.97
1    Austria  2001  2155447  Austria2001  1058.36   7.03
2    Austria  2002  2118454  Austria2002  1212.56   7.73
3    Austria  2003  2066942  Austria2003   891.80   7.35
4    Austria  2004  2052033  Austria2004  1080.30   6.75
..       ...   ...      ...          ...      ...    ...
589   Sweden  2017  1448590   Sweden2017   678.22   3.16
590   Sweden  2018  1435450   Sweden2018   539.63   3.62
591   Sweden  2019  1404670   Sweden2019   682.36   3.34
592   Sweden  2020  1390960   Sweden2020   669.34   4.47
593   Sweden  2021  1389890   Sweden2021   608.87   3.02

[594 rows x 6 columns]

In [4]:
import os
dir_path = 'raw'
for filename in os.listdir(dir_path):
    print(filename)

arch
cattle_meat_import_export.csv
Fertilizer.csv
Fertilizers.csv
fertilizer].csv
grasslands.csv
land_pasture.csv
land_use_all_items_area_eu28.csv
manure.csv
meat.csv
nutrient.csv
nutrients.csv
price.csv
pr_timeseries__IRL.csv
stocks.csv
tas_timeseries_IRL.csv
temperature_change.csv
temperature_sd.csv

In [43]:
land_df = pd.read_csv( 'raw/land.csv', on_bad_lines='skip')   # loads Land USe Domain
land_df.head()

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,RL,Land Use,40,Austria,5110,Area,6600,Country area,1961,1961,1000 ha,8387.9,A,Official figure
1,RL,Land Use,40,Austria,5110,Area,6600,Country area,1962,1962,1000 ha,8387.9,A,Official figure
2,RL,Land Use,40,Austria,5110,Area,6600,Country area,1963,1963,1000 ha,8387.9,A,Official figure
3,RL,Land Use,40,Austria,5110,Area,6600,Country area,1964,1964,1000 ha,8387.9,A,Official figure
4,RL,Land Use,40,Austria,5110,Area,6600,Country area,1965,1965,1000 ha,8387.9,A,Official figure

In [44]:
unique_counts = land_df.nunique()
print(unique_counts)

Domain Code            1
Domain                 1
Area Code (M49)       28
Area                  28
Element Code           1
Element                1
Item Code              6
Item                   6
Year Code             60
Year                  60
Unit                   1
Value               2930
Flag                   4
Flag Description       4
dtype: int64

In [45]:
unique_items = land_df['Item'].unique()
unique_items

array(['Country area', 'Land area', 'Agriculture', 'Agricultural land',
       'Land under temp. meadows and pastures',
       'Land under perm. meadows and pastures'], dtype=object)

In [47]:
# Filter rows with 'land under temp. meadows and pastures'
LandTemp_df = land_df.loc[land_df['Item'] == 'Land under temp. meadows and pastures']
land_df.loc[land_df['Item'] == 'Land under temp. meadows and pastures', 'Key'] = land_df['Area'] + land_df['Year'].astype(str)
LandTemp_df = LandTemp_df[LandTemp_df['Year'] >= 2000]
LandTemp_df = LandTemp_df.rename(columns={'Value': 'LA_kh'})
LandTemp_df = LandTemp_df.loc[:, ['LA_kh', 'Key']]

In [22]:
LandTemp_df

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
420,RL,Land Use,40,Austria,5110,Area,6633,Land under temp. meadows and pastures,1961,1961,NaN,NaN,NaN,NaN
421,RL,Land Use,40,Austria,5110,Area,6633,Land under temp. meadows and pastures,1962,1962,NaN,NaN,NaN,NaN
422,RL,Land Use,40,Austria,5110,Area,6633,Land under temp. meadows and pastures,1963,1963,NaN,NaN,NaN,NaN
423,RL,Land Use,40,Austria,5110,Area,6633,Land under temp. meadows and pastures,1964,1964,NaN,NaN,NaN,NaN
424,RL,Land Use,40,Austria,5110,Area,6633,Land under temp. meadows and pastures,1965,1965,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73375,RL,Land Use,752,Sweden,5110,Area,6633,Land under temp. meadows and pastures,2016,2016,1000 ha,1052.56,A,Official figure
73376,RL,Land Use,752,Sweden,5110,Area,6633,Land under temp. meadows and pastures,2017,2017,1000 ha,1035.11,A,Official figure
73377,RL,Land Use,752,Sweden,5110,Area,6633,Land under temp. meadows and pastures,2018,2018,1000 ha,1048.39,A,Official figure
73378,RL,Land Use,752,Sweden,5110,Area,6633,Land under temp. meadows and pastures,2019,2019,1000 ha,1084.50,A,Official figure
73379,RL,Land Use,752,Sweden,5110,Area,6633,Land under temp. meadows and pastures,2020,2020,1000 ha,1064.81,A,Official figure

In [ ]:
# Filter rows with 'land under temp. meadows and pastures'
lutpm_df = land_df.loc[land_df['Item'] == 'Land under temp. meadows and pastures']

# Select header row and append to filtered data
header_row = land_df.loc[land_df['Item'] == 'Item']
lutpm_df = header_row.append(lutpm_df)

unique_counts = lutpm_df.nunique()
print(unique_counts)

In [ ]:


def filter_and_merge(named_df):
    # Filter rows with year >= 2000
    filtered_df = named_df.loc[named_df['Year'] >= 2000]

    # Create new label as merge of 'Area' and 'Year' labels
    filtered_df['Key'] = filtered_df['Area'] + filtered_df['Year'].astype(str)

    return named_df

In [ ]:
ddf=filter_and_merge(lutpm_df)
ddf

In [ ]:
lutpm_df

In [ ]:
print(os.listdir('.')) #List current directory

In [ ]:
#creating a dataframe for the temp data
temp_df = combine('temperature', 'temperature  {temp_c}\u00b0C')

In [ ]:
temp_c = 20
print(f"The temperature is {temp_c}\u00b0C.")

In [ ]:
rain_df=combine('rain', 'Temperature_C')

In [ ]:
# Group the data by country and select the column of interest
grouped = df.groupby('Country')['Stocks']

In [ ]:
austria_df = grouped.get_group('Austria')
austria_df

## Visualisation

In [ ]:
top_producers = df.groupby('Country')['Stocks'].sum().sort_values(ascending=False).head(5)
print(top_producers)

In [ ]:
import matplotlib.pyplot as plt

df_grouped = df.groupby('Country')['Stocks'].sum().reset_index()
df_grouped = df_grouped.sort_values(by='Stocks', ascending=False).reset_index(drop=True)
plt.bar(df_grouped['Country'][:5], df_grouped['Stocks'][:5])
plt.title('Top 5 Beef Producing Countries in European Union (EU) ' )
plt.xlabel('Country')
plt.ylabel('Total Stocks')

plt.xticks(rotation=90)  # rotate the x-axis labels by 90 degrees

plt.show()

In [ ]:
import matplotlib.pyplot as plt

df_grouped = df.groupby('Country')['Stocks'].sum().reset_index()
df_grouped = df_grouped.sort_values(by='Stocks', ascending=False).reset_index(drop=True)
plt.bar(df_grouped['Country'][:10], df_grouped['Stocks'][:10])
plt.title('Top 10 Beef Producing Countries in European Union (EU) ')
plt.xlabel('Country')
plt.ylabel('Total Stocks')

plt.xticks(rotation=90)  # rotate the x-axis labels by 90 degrees

plt.show()

In [ ]:
import matplotlib.pyplot as plt

df_grouped = df.groupby('Country')['Stocks'].sum().reset_index()
df_grouped = df_grouped.sort_values(by='Stocks', ascending=False).reset_index(drop=True)

plt.bar(df_grouped['Country'][:len(df_grouped)], df_grouped['Stocks'][:len(df_grouped)])

plt.title('Distribution of Beef  Stocks  in European Union (EU) ')
plt.xlabel('Country')
plt.ylabel('Total Stocks')

plt.xticks(rotation=90)  # rotate the x-axis labels by 90 degrees

plt.show()

In [ ]:

df_heatmap = df.pivot_table(index='Country', columns='Year', values='Stocks')
plt.figure(figsize=(12, 8))
sns.heatmap(df_heatmap, cmap='YlOrRd', annot=True, fmt='g')
plt.title('Distribution of Beef Stocks Production by Country and Year')
plt.xlabel('Year')
plt.ylabel('Country')
plt.show()

## Distribution of Beef Stocks Production by Country and Year

Code uses a pivot table with the country names as the index, year as the columns, and beef stocks as the values. Then, it uses seaborn to create a heatmap with annotations that display the beef stocks production by country and year. The cmap parameter sets the color palette, and fmt='g' sets the format for the annotations to be in plain numbers. The plt.title(), plt.xlabel(), and plt.ylabel() functions are used to label the heatmap.

In [ ]:
# 1. Filter the original dataset to keep only data for Ireland, France, and Germany from 2000 onwards
beef_df = df.loc[df['Country'].isin(['Ireland', 'France', 'Germany']) & (df['Year'] >= 2000)]

# 2. Group the filtered dataset by year and country and calculate the total beef production for each group
beef_production = beef_df.groupby(['Year', 'Country'])['Stocks'].sum().reset_index()

# 3. Create separate line charts for each country
import seaborn as sns
import matplotlib.pyplot as plt

sns.set_style('whitegrid')
sns.set_palette('dark')

fig, ax = plt.subplots(figsize=(10, 6))
sns.lineplot(data=beef_production, x='Year', y='Stocks', hue='Country', ax=ax)

# 4. Compare the trends in beef production over time for each country
plt.title('Beef Production in Ireland, France, and Germany since 2000')
plt.xlabel('Year')
plt.ylabel('Beef Production (in 1000 metric tons)')
plt.legend(title='Country')

# 5. Summarize your findings and draw conclusions about the similarities and differences in beef production among the three countries since 2000

In [ ]:
df.groupby('Country')# groups the DataFrame by one or more columns and applies a function to each group.

In [ ]:

# convert dataframe to list of lists
table = ds.values.tolist()



# use tabulate to create a table
print(tabulate(table, headers, tablefmt='latex_booktabs'))

In [ ]:

# Pandas DataFrame,'df' in latex table out
table = tabulate(df.sample(40), headers='keys', tablefmt='latex', floatfmt=".2f")
print(table)

In [ ]:

def generate_rotated_table(df: pd.DataFrame, caption: str, label: str) -> str:
    # Start the LaTeX tabular environment
    latex = "\\begin{table}[h]\n"
    latex += "\\centering\n"
    latex += "\\begin{tabular}{|c|c|c|c|c|c|c|c|c|c|c|c|c|}\n"
    latex += "\\hline\n"
    
    # Add the table headers
    headers = list(df.columns)
    for header in headers:
        latex += "\\rotatebox{90}{" + header + "} & "
    latex = latex[:-2] + "\\\\\n"
    latex += "\\hline\n"
    
    # Add the table rows
    for row in df.iterrows():
        latex += " & ".join([str(item) for item in row[1]]) + " \\\\\n"
    
    # End the LaTeX tabular environment and add the caption and label
    latex += "\\hline\n"
    latex += "\\end{tabular}\n"
    latex += "\\caption{" + caption + "}\n"
    latex += "\\label{" + label + "}\n"
    latex += "\\end{table}"
    
    return latex

In [ ]:
# Assume your data is in a pandas DataFrame called 'df'
table = tabulate(livestock, headers='keys', tablefmt='latex', floatfmt=".2f")
print(table)

In [ ]:
generate_rotated_table(df.sample(40),'Sample of Livestock data before EDA','tab:livestock')

In [ ]:


# Convert df to a LaTeX table
table = tabulate(df, headers='keys', tablefmt='latex')
# Print the LaTeX table
print(table)

In [ ]:
### Drop Belgium-Luxembourg
# Drop "Production" column
df = df.drop(df[df['Area'] == 'Belgium-Luxembourg'].index)
# Reset the index
df = df.reset_index(drop=True)
print(df.head())

In [ ]:
# Get the shape of the DataFrame
print(df.shape)

In [ ]:
# Get a list of unique countries from the "Area" column
countries = df['Area'].unique()
countries

In [ ]:
# count the number of missing values in each column
missing_values = df.isnull().sum()

# print the result
print(missing_values)

In [ ]:
# Count the number of areas with missing values
num_missing_areas = df['Area'][df.isna().any(axis=1)].nunique()

# Print the result
print("The number of areas with missing values is:", num_missing_areas)

In [ ]:
31900/1708 # 20% data is missing

In [ ]:
df.shape

In [ ]:
snake('Distribution of Missing Values by Area')

In [ ]:
snake('msno.matrix(df)')

In [ ]:
msno.matrix(df)

In [ ]:
# create a bar chart of the missing value counts by year
plt.figure(figsize=(20,8))  # increase the figure size for better readability
ax = year_counts.plot(kind='bar')
plt.xlabel('Year', fontsize=14)
plt.ylabel('Number of Missing Values', fontsize=14)
plt.title('Distribution of Missing Values by Year', fontsize=18)
plt.xticks(rotation=0, fontsize=12)  # rotate x-axis labels to 0 degrees
ax.tick_params(axis='y', labelsize=12)  # adjust y-axis label size
ax.tick_params(axis='x', pad=10)  # adjust x-axis tick padding

# add value labels to the bars
for i, v in enumerate(year_counts):
    ax.text(i, v, str(v), ha='center', va='bottom', fontweight='bold', fontsize=12)

# set year labels vertically
ax.set_xticklabels(year_counts.index, rotation=90)

plt.show()

In [ ]:
""" 
A new dataframe with counts of missing values 
for each country was sorted in descending order
revealing  the top 10 countries

"""


# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=False)

# get the top 10 countries with the most missing values
top_10_countries = country_counts.head(10)

# print the list of top 10 countries
print(top_10_countries)

In [ ]:
# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=True)

# get the list of countries with any missing values
missing_countries = country_counts[country_counts > 0].index

# print the list of countries with missing values
print("Countries with missing values:\n", missing_countries)

In [ ]:
# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=True)

# get the list of countries with any missing values
missing_countries = country_counts[country_counts > 0].index

# print the list of countries with missing values
print("Countries with missing values:\n", missing_countries)

In [ ]:
# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=True)

# get the list of countries with any missing values
missing_countries = country_counts[country_counts > 0]

# create a new dataframe with the missing value counts and the total number of observations for each country
mv_counts = pd.concat([missing_countries, df.groupby('Area').size()], axis=1)
mv_counts.columns = ['Missing Values', 'Total Observations']

# calculate the proportion of missing values for each country
mv_counts['% Missing'] = mv_counts['Missing Values'] / mv_counts['Total Observations'] * 100

# sort the dataframe by the proportion of missing values in descending order
mv_counts = mv_counts.sort_values('% Missing', ascending=False)

# display the table
print(mv_counts.to_string())

In [ ]:

# group the data by Area and compute the total count of missing values for each group
area_counts = df.isnull().sum(axis=1).groupby(df.Area).sum()

# create a bar chart of the missing value counts by Area
plt.figure(figsize=(10,5))
ax = area_counts.plot(kind='bar')
plt.xlabel('Area')
plt.ylabel('Number of Missing Values')
plt.title('Distribution of Missing Values by Area')
plt.xticks(rotation=45)

# add value labels to the bars
for i, v in enumerate(area_counts):
    ax.text(i, v, str(v), ha='center', va='bottom', fontweight='bold')

plt.show()

In [ ]:
df.dtypes

In [ ]:
"""
#### Title 
The 'title' naming convention is where each word starts
with a capital letter, except for prepositions and conjunctions, which start with a lowercase letter. 
The function takes a string as input and converts it to title case, 
where the first letter of each non-conjunction/preposition word is capitalized, and all other letters are lowercase.
It achieves this by splitting the input string into a list of words, identifying which words are prepositions or conjunctions based on a predefined list, and then capitalizing the first letter of all other words while converting prepositions and conjunctions to lowercase. The resulting list of processed words is then joined back into a single string with proper spacing and returned.
"""
def title(sentence):
    """
    Takes a string and converts it to title case, where the first letter of each
    non-conjunction/preposition word is capitalized, and all other letters are lowercase.
    
    Args:
        sentence (str): The string to convert to title case.
        
    Returns:
        str: The input string converted to title case.
    """
    # Define a list of common prepositions and conjunctions
    prepositions_conjunctions = ['a', 'this', 'an', 'the', 'and', 'but', 'or', 'for', 'has', 'nor', 'on', 'at', 'to', 'from', 'by', 'over', 'under', 'in', 'out', 'of']
    # Split the input string into a list of words
    words = sentence.split()
    processed_words = []
    for word in words:
        # If the word is not a preposition or conjunction, capitalize the first letter and lowercase the rest
        if word.lower() not in prepositions_conjunctions:
            processed_words.append(word.capitalize())
        # If the word is a preposition or conjunction, convert to lowercase
        else:
            processed_words.append(word.lower())
    # Join the list of processed words into a single string, with proper spacing
    output = " ".join(processed_words)
    # Remove any leading/trailing whitespace and add some padding
    return "     " + re.sub('\s+', ' ', output.strip()) + "     "

In [ ]:
unique_describtions = df['Flag Description'].unique()
print(unique_describtions)

In [ ]:
df

In [ ]:
df= df[df['Year'] > 1999]

In [ ]:
df.sample(11)

In [ ]:
df['Key'] = df['Area'] + '_' + df['Year'].astype(str)

In [ ]:
df.sample(22)

In [ ]:
flag_values = df['Flag Description'].unique()
print(flag_values)

In [ ]:
df = df.drop(['Domain Code', 'Domain', 'Area Code (M49)', 'Element Code', 'Element', 'Item Code (CPC)', 'Year Code', 'Year', 'Unit', 'Flag Description'], axis=1)

In [ ]:
import matplotlib.pyplot as plt

# count the frequency of NaN and 'Official figure' values in the 'Flag Description' column
flag_counts = df['Flag Description'].value_counts(dropna=False)

# plot a pie chart of the flag counts
plt.figure(figsize=(6, 6))
plt.pie(flag_counts, labels=flag_counts.index, autopct='%1.1f%%')
plt.title('Flag Description Frequencies')
plt.show()

In [ ]:
nan_countries = df[df.isna().any(axis=1)]['Area'].unique()

print(nan_countries)

In [ ]:
unique_areas = df['Area'].unique()
print(unique_areas)

In [ ]:
bl_data = df[df['Area'] == 'Belgium-Luxembourg']
bl_data.head(60)

In [ ]:
luxembourg_data = df[df["Area"] == "Luxembourg"]

In [ ]:
df[df["Area"] == "Luxembourg"].head(70)

In [ ]:
df[df['Area'] == 'Belgium'].head(60)

In [ ]:
num_areas = df['Area'].nunique()
print('Number of unique areas:', num_areas)

In [ ]:
# drop rows for Belgium-Luxembourg
df = df.drop(index=df[df["Area"] == "Belgium-Luxembourg"].index)

In [ ]:
df.head(60)

In [ ]:
"""
removeing extraneous columns
"""

df = df.drop(['flag','Domain Code', 'Domain', 'Area Code (M49)', 'Element Code', 'Element', 'Item Code (CPC)', 'Year Code', 'Year', 'Unit', 'Flag Description'], axis=1)

In [ ]:

"""  
####  Transform 

The transform function reads in a CSV file, renames a column, 
and filters the resulting dataframe to only include the 'key' 
and specified column. It returns the resulting dataframe after
renaming the specified column and filtering.
"""

def transform(path: str, filename: str, col_name: str) -> pd.DataFrame:
    """Reads in a CSV file from the given directory, renames a column to the given column name, and
    filters the resulting dataframe to only include the 'key' and specified column.
    
    Args:
        path (str): The relative path of the directory containing the data.
        filename (str): The name of the CSV file to read in.
        col_name (str): The name to assign to the specified column in the resulting dataframe.
        
    Returns:
        pandas.DataFrame: The resulting dataframe after renaming the specified column and filtering
        to only include the 'key' and specified column.
    """
    try:
        file_path = os.path.join(path, filename)
        df = pd.read_csv(file_path, on_bad_lines='skip', skiprows=1)
        df.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)
        df['key'] = df.columns[1] + df['Year'].astype(str)
        df.rename(columns={df.columns[1]: col_name}, inplace=True)
        df = df.filter(['key', col_name])
        return df
    except Exception as e:
        print(f"Error reading in CSV file {file_path}: {e}")

"""

####  Combine Files

The combine function is designed to read in all  the **precicipitation**
or **mean-temperature** CSV files  from either the 'pr' or 'ts' folders,
apply the transform function to each file to rename a column with the country 
the data relates to and filter at the superregional level. It then combines    
all the the resulting dataframes together into a single dataframe for all the 27 EU counties.


"""



def combine(path: str, subfolder: str, col_name: str) -> pd.DataFrame:
    """Reads in all CSV files in the given subfolder of the directory, applies the 'transform' function to each file, and
    combines the resulting dataframes together into a single dataframe.
    
    Args:
        path (str): The relative path of the directory containing the data.
        subfolder (str): The name of the subfolder within the directory to read the CSV files from.
        col_name (str): The name to assign to the specified column in the resulting dataframe.
        
    Returns:
        pandas.DataFrame: The resulting dataframe after combining data from all CSV files in the
        specified subfolder.
    """
    try:
        folder_path = os.path.join(path, subfolder)
        csv_filenames = glob.glob(folder_path + "/*.csv")
        processed_dfs = (transform(path, os.path.join(subfolder, os.path.basename(FileName)), col_name) for FileName in csv_filenames)
        df = pd.concat(processed_dfs, ignore_index=True)
        return df
    except Exception as e:
        print(f"Error combining CSV files in folder {folder_path}: {e}")

In [ ]:
"""
#### Temp °C  Preparation

All 27 'pr_timeseries_annual_cru' and 27 'tas_timeseries_annual_cru' 
files will be processed into 'rain.df' &'rain.csv' and 'temp.df' & 'temp.csv' accordingly.


"""

# Load the 'tas' data from the '../data' directory and create a dataframe 'temp_df'
# with the 'Temp °C' data. 
temp_df = combine('../data', 'tas', 'Temp \u00B0C')

# Display the first few rows of the 'temp_df' dataframe.
temp_df.head()

# Save the 'temp_df' dataframe to a CSV file in the '../data/processed' directory, 
# with the filename 'temp.csv', and exclude the index column from the output.
temp_df.to_csv('../data/processed/temp.csv', index=False)

# Display the first few rows of the 'temp_df' dataframe again.
temp_df.head()

In [ ]:
"""
#### Rain Preparation

All 27 Rain CSVs are processed into rain.df and rain.csv.

"""

# Load the 'pr' data from the '../data' directory and create a dataframe 'rain_df'
# with the 'Rain_mm/yr' data. 
rain_df = combine('../data', 'pr', 'Rain_mm/yr')

# Display the first few rows of the 'rain_df' dataframe.
rain_df.head()

# Save the 'rain_df' dataframe to a CSV file in the '../data/processed' directory, 
# with the filename 'rain.csv', and exclude the index column from the output.
rain_df.to_csv('../data/processed/rain.csv', index=False)

# Display the first few rows of the 'rain_df' dataframe again.
rain_df.head()

In [ ]:
# Filter the DataFrame to include only data from 2000 and later
beef_df = beef_df[beef_df['Year'] >= 2000]

In [ ]:
df=beef_df

In [ ]:
df

In [ ]:
# get the column titles
cols = df.columns

## Functions

In [ ]:
scanp() # scans the processed folder in data

### Data Input/Output:
- readr()
- scan()

### Data Cleaning:
- camel()
- pascal()
- snake()
- clean_df()
- eu()
- now2()
- split_file_name()
- splitter()

### Data Exploration:
- filter_col_by_type()

### Data Transformation
- eu()
- transform
- get_annual_aggregates()
- get_dfs()
- get_multi_index_df()
- get_ranking_df()
- pivot_table_aggregate()
- prepare_wealth_data()

#### Split
The split function takes a pandas DataFrame df and a column name col as input, and returns a dictionary where each key corresponds to a unique value in the specified column, and each value is a DataFrame containing all rows with that unique value.

In [ ]:
"""

#### Split
The split function takes a pandas DataFrame df and a column name col as input, and returns a dictionary where each key corresponds to a unique value in the specified column, and each value is a DataFrame containing all rows with that unique value.

"""


def split(df: pd.DataFrame, col: str) -> dict:
    """
    
 
    Parameters:
        df (pd.DataFrame): The DataFrame to split.
        col (str): The name of the column to group by.

    Returns:
        dict: A dictionary where each key corresponds to a unique value in the specified column,
        and each value is a DataFrame containing all rows with that unique value.
    """
    dfs = dict(tuple(df.groupby(col)))
    return dfs

In [ ]:
def now2(df):
    """
    Filter to 'Year' >= 2000.

    Parameters:
    - df (pandas.DataFrame): The DataFrame to filter.

    Returns:
    - pandas.DataFrame: The filtered DataFrame.
    """
    year_min = 2000
    return df[df['Year'] >= year_min]

### Data Combination:
- merge_dfs()
- combine

In [ ]:
#### Snake


def snake(text, default='default'):
    """
    Converts a given string to snake_case by replacing any whitespace characters with underscores,
    converting to all lowercase, and removing any non-alphanumeric characters from the beginning and end.

    Parameters:
        text (str): The string to convert to snake_case.
        default (str): The default value to return if the input text is empty.

    Returns:
        str: The resulting string in snake_case format, or the default value if the input text is empty.
    """
    if not text:
        return default
    # Convert to string and replace any non-alphanumeric characters at the beginning and end with an empty string
    text = re.sub(r'^\W+|\W+$', '', str(text))
    # Replace any period symbols with underscores
    text = text.replace('.', '')
    # Replace any other non-alphanumeric characters with empty strings
    text = re.sub(r'\W+', '_', text)
    # Convert to all lowercase
    text = text.lower()
    return text

# Example usage:
text = "This is a text with periods. (And other characters.)"
result = snake(text)
print(result)  # Output: "this_is_a_text_with_periods_and_other_characters"


# snake('does snake Work')

# snake('                  ')
# snake('                  ')
# snake('                  ')

In [ ]:
snake('"This is a text with periods. (And other characters.)"')

####  Pascal
The 'pascal' naming function takes in a string as input and converts it to a PascalCase format. PascalCase is a naming convention where the first letter of each word is capitalized, and there are no spaces or separators between the words.

In [ ]:
def pascal(string):
    """
    Convert a space- or snake-separated string to PascalCase.

    Parameters:
        string (str): The input string to convert to PascalCase.

    Returns:
        str: The input string in PascalCase format.

    """
    # Replace any underscores with spaces
    string = string.replace("_", " ")
    # Capitalize the first letter of each word
    words = string.title()
    # Remove any remaining spaces
    words = words.replace(" ", "")
    return words

In [ ]:
"""
#### Camel

Camel case is a naming convention in which each word in a compound word is capitalized, except for the first word which is in lower case. It is commonly used in programming languages for naming variables and functions.

handles both snake_case and space-separated strings
"""
def camel(string):
    """
    Convert a space-separated or snake_case string to camelCase.

    Parameters:
        string (str): The string to convert.

    Returns:
        str: The converted string in camelCase.
    """
    # Replace underscores with spaces and split the string into a list of words
    words = string.replace("_", " ").split()
    # Convert the first word to lowercase and capitalize all subsequent words
    camel_cased = [words[0].lower()] + [word.capitalize() for word in words[1:]]
    # Concatenate the words together and return the resulting string
    return "    " + ''.join(camel_cased) + "    "

#### Total Character

In [ ]:
def char_count(string):
    """
    Count the number of characters in a string.

    Parameters:
    - string (str): The string to count characters in.

    Returns:
    - int: The number of characters in the string.
    """
    return len(string)


### Scanners,  Readers and Writers
#### Scanners

#### Readers

'read_csv' is a function in the Pandas library for reading in CSV (Comma Separated Values) files into a DataFrame. It is a flexible function that can handle a variety of input formats, including different delimiters, encodings, and line endings.

#### Splitters

In [ ]:
def splitter(file_name: str) -> Tuple[Dict[str, pd.DataFrame], List[str]]:
    """
    Splits a CSV file into multiple dataframes based on the unique values in the 'Element' column.
    
    Parameters:
        file_name (str): The name of the CSV file to read in.
        
    Returns:
        Tuple[Dict[str, pd.DataFrame], List[str]]: A tuple containing a dictionary where each key corresponds
        to a unique value in the 'Element' column, and each value is a dataframe containing all rows with that
        unique value, and a list of unique values in the 'Element' column.
    """
    if not file_name.endswith('.csv'):
        raise ValueError('Input file must be a .csv file')
    
    # Load the specified dataframe
    df = pd.read_csv(f'../data/raw/{file_name}')
    
    # Group the dataframe by the 'Element' column
    dfs = dict(tuple(df.groupby('Element')))
    
    # Get the unique values in the 'Element' column
    elements = list(df['Element'].unique())
    
    return dfs, elements

In [ ]:
def split_by_elementr(file_name: str) -> Tuple[Dict[str, pd.DataFrame], List[str]]:
    """
    Splits a CSV file into multiple dataframes based on the unique values in the 'Element' column.
    
    Parameters:
        file_name (str): The name of the CSV file to read in.
        
    Returns:
        Tuple[Dict[str, pd.DataFrame], List[str]]: A tuple containing a dictionary where each key corresponds
        to a unique value in the 'Element' column, and each value is a dataframe containing all rows with that
        unique value, and a list of unique values in the 'Element' column.
    """
    # Load the specified dataframe
    df = pd.read_csv(f'../data/raw/{file_name}')
    
    # Group the dataframe by the 'Element' column
    dfs = dict(tuple(df.groupby('Element')))
    
    # Get the unique values in the 'Element' column
    elements = list(df['Element'].unique())
    
    return dfs, elements

In [ ]:
def split_df_by_element(df: pd.DataFrame) -> Tuple[Dict[str, pd.DataFrame], List[str]]:
    """
    Splits a DataFrame into multiple dataframes based on the unique values in the 'Element' column.

    Parameters:
        df (pd.DataFrame): The DataFrame to split.
    
    Returns:
        Tuple[Dict[str, pd.DataFrame], List[str]]: A tuple containing a dictionary where each key corresponds
        to a unique value in the 'Element' column, and each value is a dataframe containing all rows with that
        unique value, and a list of unique values in the 'Element' column.
    """
    # Group the dataframe by the 'Element' column
    dfs = dict(tuple(df.groupby('Element')))
    
    # Get the unique values in the 'Element' column
    elements = list(df['Element'].unique())
    
    return dfs, elements

In [ ]:
def groupdf(df, column_name):
    # Group the dataframe by the specified column
    dfs = dict(tuple(df.groupby(column_name)))
    return dfs

####  Delete

In this code, we use the os module to delete a file at the specified file path. We first check if the file exists using the os.path.exists() function. If the file exists, we delete it using the os.remove() function. If the file does not exist, we print a message indicating that the file was not found.

Note that this code permanently deletes the file, so you should use it with caution. Once a file is deleted, it cannot be easily recovered.

In [ ]:


def delete(file_name):
    file_path = os.path.join("..", "data", "raw", file_name)
    expected_ext = ".csv"
    if not file_path.endswith(expected_ext):
        print("Error: Invalid file extension. File extension must be .csv.")
    elif os.path.exists(file_path):
        os.remove(file_path)
        print(f"{file_name} deleted successfully")
    else:
        print(f"{file_name} not found")

#### Rename

This function first constructs the file_path by joining the ../data/raw directory with the given file_name. It then sets the expected file extension to .csv. The function then checks if the file_path ends with the expected file extension. If it doesn't, the function prints an error message. If it does, the function checks if the file exists at file_path, and if it does, it removes it and prints a success message. If the file doesn't exist, the function prints a "not found" message. like this:

In [ ]:
def rename(old_filename, new_filename):
    old_file_path = os.path.join("..", "data", old_filename)
    new_file_path = os.path.join("..", "data", new_filename)
    try:
        os.rename(old_file_path, new_file_path)
        print(f"{old_filename} renamed to {new_filename} successfully")
    except FileNotFoundError:
        print(f"{old_filename} not found")
    except FileExistsError:
        print(f"A file with the name {new_filename} already exists")
    except OSError:
        print("Invalid file path or name")

#### Replace

In [ ]:
def replace(input_str, find_str, replace_str):
    output_str = re.sub(find_str, replace_str, input_str)
    
    if output_str == input_str:
        warnings.warn("Replacement unsuccessful: '{}' not found in input string.".format(find_str))
    
    return output_str

In [ ]:
####  tabler

"""The code defines a function tabler that generates an HTML table with information on the files in a given folder and
adds a section header that contains the directory path 
"""

def tabler(folder_path):
    """
    Generate an HTML table with information on files in a given folder.

    Parameters:
    - folder_path (str): The path to the folder containing the files.

    Returns:
    - str: The HTML code for the table.
    """
    # Get the contents of the folder
    try:
        contents = os.listdir(folder_path)
    except FileNotFoundError:
        return "Directory not found"
    except OSError:
        return "Invalid folder path"

    # Create the section header
    header = f"### {folder_path}\n\n"

    # Create the table header
    table = '<table style="font-size:100%"><thead><tr><th>File Name</th><th>Size</th><th>Modified Time</th></tr></thead><tbody>'

    # Add a row for each file
    for item in contents:
        item_path = os.path.join(folder_path, item)
        if os.path.isfile(item_path):
            # Get the file size and modified time
            size_bytes = os.path.getsize(item_path)
            size_kb = size_bytes / 1024
            size_str = '{:,.2f} KB'.format(size_kb)
            modified_time = datetime.datetime.fromtimestamp(os.path.getmtime(item_path)).strftime('%Y-%m-%d %H:%M')
            # Add a row to the table
            table += '<tr><td>{}</td><td>{}</td><td>{}</td></tr>'.format(item, size_str, modified_time)

    # Close the table
    table += '</tbody></table>'

    return header + table

In [ ]:
def beef(file_path):
    """
    Reads a CSV file and returns a Pandas DataFrame.
    
    Parameters:
        file_path (str): The path to the CSV file to read.
        
    Returns:
        pd.DataFrame: The resulting DataFrame.
    """
    df = pd.read_csv(file_path)
    return df

### Data Processing

- eu(df)
- now2(df)
- split

###  String Manipulation

### File System Operations


These functions are responsible for performing various operations on the file system.
scan(): Scans a specified folder and prints contents information.
tabler(): Generates an HTML table with information on files in a given folder.

In [ ]:

#### eu
def eu(df):
    """
    Filter a pandas DataFrame to include only the rows where the 'Area' column contains values that match the countries in the European Union.

    Parameters:
    - df (pandas.DataFrame): The DataFrame to filter.

    Returns:
    - pandas.DataFrame: The filtered DataFrame.
    """
    country_list = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia', 'Denmark', 
                    'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 
                    'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 
                    'Slovakia', 'Slovenia', 'Spain', 'Sweden']
    return df[df['Area'].isin(country_list)]

# df=readr('meat','df')
# df=eu(df)
# df
++++

In [ ]:
def now(df, year_min):
    """
    Filter to 'Year'>.
    Parameters:
    - df (pandas.DataFrame): The DataFrame to filter.
    - year_min (int): The minimum year to include in the filtered DataFrame.
    Returns:
    - pandas.DataFrame: The filtered DataFrame.
    """
    return df[df['Year'] >= year_min]

# df=readr('meat','df')
# df = now(df, 2015)
# df.head()

# Analysis and  comparison of Ireland's beef sector with other  EU contries

![image1](../images/tu04.png)

<span style="font-size: 24px;">                 </span>

## Introduction

In this notebook we carry out the first 6 stages in the followning list@

1. Reading - export, import, trade imbalance, arable production, animal stock
2. Cleaning
3. Transformation
4. Splitting
5. Aggregation
6. Analysis
7. Visualization
8. Modeling and Machine Learning
9. Forecasting
10. Sentiment Analysis
11. Evidence Based Recommendations
12. Process Rationale
13. Ireland as your baseline.


## Modules Functions Libraries and How to Use

Before starting the exploratory data analysis (EDA), make sure to execute all necessary module imports, libraries, and functions. This will ensure all  required dependencies and tools to perform analysis are operational.
To execute all necessary module imports, libraries, and functions before starting the exploratory data analysis (EDA) 
**Restart & run all** as convention of dependancy order was broken for organisational purposes! On my part that is! Sorry!

## Appendices

1. Data Reading
2. Data Cleaning
3. Data Transformation
4. Data Splitting
5. Data Aggregation
6. Data Analysis
7. Data Visualization
8. Modeling and Machine Learning
9. Utility Functions

### FAOSTAT Data Domains 




<img src="../images/we16.png" alt="image7" width="80%">

[<span style="font-size: 18px;">Figure 2:Data Domain Table view of FAOSTAT</span>
](https://www.fao.org/faostat/en/#data/domains_table)




The [FAOSTAT Data Domains](https://www.fao.org/faostat/en/#data/domains_table)  are organised as follows:

  -  Production: Production of crops and livestock products, including production indices and the value of agricultural production.

  - Food Security and Nutrition: Information on SDG indicators related to food security and nutrition and food balances.

  - Trade: Including detailed trade matrices, trade indices, and updates on related data.

  - Prices: Producer and   consumer price indices, deflators, and exchange rates.

  - Land, Inputs and Sustainability:Land use, land cover, inputs, including fertilizers and manure and pesticides.
  
  - Population and Employment: Annual population including those specific to agriculture and rural areas.

  - Investment: Government expenditure, credit to agriculture, foreign direct investment, and country investment statistics.

  - Macro-Economic Indicators: Such as capital stock.

  - Food Value Chain: This domain provides information on the value shares of the food industry and primary factors.

  - Climate Change: Emissions, crop residues, forests, and other indicators related to climate change.

  - Forestry: Forestry production and trade, as well as forestry trade flows.

  - SDG Indicators: The Sustainable Development Goals (SDGs) are a set of 17 goals established by the United Nations in 2015.

  - World Census of Agriculture: This domain provides structural data from agricultural censuses taken around the world

  - Discontinued archives and data series: This includes data on indicators from surveys and research.

## Climate  Data Preparation 

<img src="../images/tu03.png" alt="image5" width="50%">
<span style="font-size: 24px;">                  </span>
 Only two attributes are taken from the CCKP database: Mean_Temperature and Precipitation.

[The CCKP website](https://climateknowledgeportal.worldbank.org/)
 is a  resource for information on the impacts of climate change and the actions taken to address these impacts. While this is outside the remit of this project the CCKP also provides access to global data on a historical  basis for the **Mean_Temperature** and **Precipitation** at the  country-by-country level  on both monthly and yearly aggregates. While **humidity** is also a known influential predictor variable these two should have a statistically significant imapct on our predictive modelling. Spatial data is provided as a global NetCDF file, with Climatology, Timeseries and Heatplot data is provided as a CSV file.

Climate conditions, such as average temperature and rainfall (precipitation ) can greatly affect the growth and health of cattle. Precipitation and temperature predictor variables were  retrieved  but they were   aggragated by country and this necessitated  the **cckp** and  **combine**  functions for data wrangling.

####  About FAOSTAT

<img src="../images/tu02.png" alt="image5" width="50%">

<span style="font-size: 24px;">                  </span>
FAOSTAT is a comprehensive database maintained by the Food and Agriculture Organization of the United Nations (FAO), providing timely, reliable data on agriculture, food, and nutrition for over 200 countries. Its information is used to inform decision-making, policy formulation, and research in the field, covering topics such as production, trade, and fertilizer use. FAOSTAT is a valuable resource for governments, organizations, researchers, and the public, informing policy and interventions to enhance food security and reduce poverty.

#### Licencing 
All datasets from the [FAOSTAT](https://www.fao.org/faostat/en/#home) are licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO [(CC BY-NC-SA 3.0 IGO)](https://creativecommons.org/licenses/by-nc-sa/3.0/igo/). Source: FAOSTAT (2023). Time Series datasets.
<img src="../images/tu06.png" alt="image5" width="50%">
<span style="font-size: 24px;">                  </span>





####   CCKP Data  and an initial bit of EDA

<div style="display: flex; justify-content: center;">
  <img src="../images/we28.png" alt="image19" style="width: 30%;">
  <img src="../images/we29.png" alt="image20" style="width: 30%;">
    <img src="../images/we30.png" alt="image20" style="width: 30%;">
</div>

<span style="font-size: 18px;">Figure 3:Time Series Data downloaded for 27 EU countries from  CCKP site </span>


To maintain consistency with the FAO data, annual and not monthly time series  aggregates were taken from the Climatic Research Unit (CRU) dataset for **precipitation** and   **mean-temperature**. These datasets are provided by the CRU TS 4.04 dataset, a gridded climate dataset produced by the Climatic Research Unit (CRU) at the University of East Anglia in the United Kingdom. In the statistics section, range, variance, and standard deviation of monthly data may be revisited for insights.

The file names and folder names of the CCKP data used in this project are tabulated below.

<span style="font-size: 24px;">Table : Table shows Time Series data filenames and folders  for 27 EU countries from  CCKP site </span>



| Country        | Code | TasAnnual (Folder with Tempature data)                              | PrAnnual   (Folder with Precipitation Data)                        |
|:--------------:|:----:|:--------------------------------------:|:---------------------------------:|
| Albania        | ALB  | tas_timeseries_annual_cru_1901-2021_ALB.csv | pr_timeseries_annual_cru_1901-2021_ALB.csv |
| Andorra        | AND  | tas_timeseries_annual_cru_1901-2021_AND.csv | pr_timeseries_annual_cru_1901-2021_AND.csv |
| Austria        | AUT  | tas_timeseries_annual_cru_1901-2021_AUT.csv | pr_timeseries_annual_cru_1901-2021_AUT.csv |
| Belarus        | BLR  | tas_timeseries_annual_cru_1901-2021_BLR.csv | pr_timeseries_annual_cru_1901-2021_BLR.csv |
| Belgium        | BEL  | tas_timeseries_annual_cru_1901-2021_BEL.csv | pr_timeseries_annual_cru_1901-2021_BEL.csv |
| Bosnia and Herzegovina | BIH  | tas_timeseries_annual_cru_1901-2021_BIH.csv | pr_timeseries_annual_cru_1901-2021_BIH.csv |
| Bulgaria       | BGR  | tas_timeseries_annual_cru_1901-2021_BGR.csv | pr_timeseries_annual_cru_1901-2021_BGR.csv |
| Croatia        | HRV  | tas_timeseries_annual_cru_1901-2021_HRV.csv | pr_timeseries_annual_cru_1901-2021_HRV.csv |
| Cyprus         | CYP  | tas_timeseries_annual_cru_1901-2021_CYP.csv | pr_timeseries_annual_cru_1901-2021_CYP.csv |
| Czech Republic | CZE  | tas_timeseries_annual_cru_1901-2021_CZE.csv | pr_timeseries_annual_cru_1901-2021_CZE.csv |
| Denmark        | DNK  | tas_timeseries_annual_cru_1901-2021_DNK.csv | pr_timeseries_annual_cru_1901-2021_DNK.csv |
| Estonia        | EST  | tas_timeseries_annual_cru_1901-2021_EST.csv | pr_timeseries_annual_cru_1901-2021_EST.csv |
| Finland        | FIN  | tas_timeseries_annual_cru_1901-2021_FIN.csv | pr_timeseries_annual_cru_1901-2021_FIN.csv |
| France         | FRA  | tas_timeseries_annual_cru_1901-2021_FRA.csv | pr_timeseries_annual_cru_1901-2021_FRA.csv |
| Germany        | DEU  | tas_timeseries_annual_cru_1901-2021_DEU.csv | pr_timeseries_annual_cru_1901-2021_DEU.csv |
| Gibraltar      | GIB  | tas_timeseries_annual_cru_1901-2021_GIB.csv | pr_timeseries_annual_cru_1901-2021_GIB.csv |
| Greece | GRC | tas_timeseries_annual_cru_1901-2021_GRC.csv | pr_timeseries_annual_cru_1901-2021_GRC.csv |
| Croatia | HRV | tas_timeseries_annual_cru_1901-2021_HRV.csv | pr_timeseries_annual_cru_1901-2021_HRV.csv |
| Hungary | HUN | tas_timeseries_annual_cru_1901-2021_HUN.csv | pr_timeseries_annual_cru_1901-2021_HUN.csv |
| Ireland | IRL | tas_timeseries_annual_cru_1901-2021_IRL.csv | pr_timeseries_annual_cru_1901-2021_IRL.csv |
| Italy | ITA | tas_timeseries_annual_cru_1901-2021_ITA.csv | pr_timeseries_annual_cru_1901-2021_ITA.csv |
| Lithuania | LTU | tas_timeseries_annual_cru_1901-2021_LTU.csv | pr_timeseries_annual_cru_1901-2021_LTU.csv |
| Luxembourg | LUX | tas_timeseries_annual_cru_1901-2021_LUX.csv | pr_timeseries_annual_cru_1901-2021_LUX.csv |
| Latvia | LVA | tas_timeseries_annual_cru_1901-2021_LVA.csv | pr_timeseries_annual_cru_1901-2021_LVA.csv |
| Malta | MLT | tas_timeseries_annual_cru_1901-2021_MLT.csv | pr_timeseries_annual_cru_1901-2021_MLT.csv |
| Netherlands | NLD | tas_timeseries_annual_cru_1901-2021_NLD.csv | pr_timeseries_annual_cru_1901-2021_NLD.csv |
| Poland | POL | tas_timeseries_annual_cru_1901-2021_POL.csv | pr_timeseries_annual_cru_1901-2021_POL.csv |
| Portugal | PRT | tas_timeseries_annual_cru_1901-2021_PRT.csv | pr_timeseries_annual_cru_1901-2021_PRT.csv |
| Romania | ROU | tas_timeseries_annual_cru_1901-2021_ROU.csv | pr_timeseries_annual_cru_1901-2021_ROU.csv |
| Slovakia | SVK | tas_timeseries_annual_cru_1901-2021_SVK.csv | pr_timeseries_annual_cru_1901-2021_SVK.csv |
| Slovenia | SVN | tas_timeseries_annual_cru_1901-2021_SVN.csv | pr_timeseries_annual_cru_1901-2021_SVN.csv |
| Sweden | SWE | tas_timeseries_annual_cru_1901-2021_SWE.csv | pr_timeseries_annual_cru_1901-2021_SWE.csv |


All datasets from the CCKP are licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO (CC BY-NC-SA 3.0 IGO). 
Source: CCKP (2023). Time Series datasets. Retrieved from [https://climateknowledgeportal.worldbank.org/download-data].

| Data Cleaning           |
| -----------------------|
| df.dropna()            |
| df.fillna()            |
| df.clip()              |
| df.replace()           |
| pd.cut()               |
| df.drop_duplicates()   |
| df.drop_duplicates()   |
| df.fillna()            |
| df.merge()             |
| df.pivot()             |
| df.rename()            |
| df.query()             |
| df.dropna(axis=0, inplace=True)  |
| df['column_name'].interpolate(inplace=True) |
| os.listdir('data')     |
| N/A                    |

| Data Wrangling          |
| ------------------------|
| df.melt()               |
| df.pivot()              |
| df.stack()              |
| df.unstack()            |
| df.astype()             |
| df.apply()              |
| df.groupby()            |
| pd.crosstab()           |
| pd.concat()             |
| df.replace()            |
| df.rename()             |
| df.sort_values()        |
| df.transform()          |

| Data Exploration         |
| -------------------------|
| df.info()                |
| df.describe()            |
| df.describe()            |
| df.value_counts()        |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |
| N/A                      |

| Data Visualization       |
| -------------------------|
| plotly.plot()            |
| seaborn.plot()           |
| ggplot.plot()            |
| matplotlib.plot()        |
| plot.plot()              |
| holoviews.plot()         |
| bokeh.plot()             |
| plotly.plot()            |
| seaborn.plot()           |
| N/A                      |
| N/A                      |
| N/A                      |

| Data Transformation       |
| --------------------------|
| df.log()                  |
| df.exp()                  |
| df.scale()                |
| df.normalize()            |
| df.sqrt()                 |
| df.abs()                  |
| df.abs()                  |
| df.divide()               |
| df.subtract()             |
| df.multiply()             |
| df.add()                  |
| df.expit()                |
| df.cumsum()               |
| N/A                       |

| Feature Engineering       |
| --------------------------|
| df.discretize()           |
| df.binarize()             |
| df.dummies()              |
| df.group_enc()            |
| df.interactions()         |
| df.pca()/df.ica()         |
| df.non-linear_trans()     |
| df.scaling/discretize()   |
| df.rolling_window()       |
| N/A                       |

| Time Series Analysis       |
| --------------------------|
| df.pct()                  |
| df.shift()                |
| df.count()                |
| df.rank()                 |
| df.zscore()               |
| df.frequency()            |
| df.rolling()              |
| df.autocorr()/df.pacf()   |
| N/A                       |
| N/A                       |
| df.pct_change()           |
| df.forecast()             |
| N/A                       |