<h1>Table of Contents (Clickable in sidebar)<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#The-revised-research-question" data-toc-modified-id="The-revised-research-question-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>The revised research question</a></span></li><li><span><a href="#Libraries,---modules-and-orientation" data-toc-modified-id="Libraries,---modules-and-orientation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Libraries,   modules and orientation</a></span></li><li><span><a href="#Combine-CCKP--Timeseries-Files-and-Add-a-CountryYear-Key" data-toc-modified-id="Combine-CCKP--Timeseries-Files-and-Add-a-CountryYear-Key-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Combine CCKP  Timeseries Files and Add a CountryYear Key</a></span></li><li><span><a href="#The-Climate-Change-Knowledge-Portal.-(n.d.).-Retrieved-February-20,-2023,-from-https://climateknowledgeportal.worldbank.org/" data-toc-modified-id="The-Climate-Change-Knowledge-Portal.-(n.d.).-Retrieved-February-20,-2023,-from-https://climateknowledgeportal.worldbank.org/-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>The Climate Change Knowledge Portal. (n.d.). Retrieved February 20, 2023, from <a href="https://climateknowledgeportal.worldbank.org/" rel="nofollow" target="_blank">https://climateknowledgeportal.worldbank.org/</a></a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#CCKP-Data--and-an-initial-bit-of-EDA" data-toc-modified-id="CCKP-Data--and-an-initial-bit-of-EDA-4.0.1"><span class="toc-item-num">4.0.1&nbsp;&nbsp;</span>CCKP Data  and an initial bit of EDA</a></span></li></ul></li></ul></li><li><span><a href="#The-FAOSTAT-and-CCKP-data-become-one!" data-toc-modified-id="The-FAOSTAT-and-CCKP-data-become-one!-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>The FAOSTAT and CCKP data become one!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Pascal" data-toc-modified-id="Pascal-5.0.1"><span class="toc-item-num">5.0.1&nbsp;&nbsp;</span>Pascal</a></span></li><li><span><a href="#Rename" data-toc-modified-id="Rename-5.0.2"><span class="toc-item-num">5.0.2&nbsp;&nbsp;</span>Rename</a></span></li><li><span><a href="#Replace" data-toc-modified-id="Replace-5.0.3"><span class="toc-item-num">5.0.3&nbsp;&nbsp;</span>Replace</a></span></li><li><span><a href="#CCKP-Data--and-an-initial-bit-of-EDA" data-toc-modified-id="CCKP-Data--and-an-initial-bit-of-EDA-5.0.4"><span class="toc-item-num">5.0.4&nbsp;&nbsp;</span>CCKP Data  and an initial bit of EDA</a></span></li></ul></li></ul></li></ul></div>

# Visualisation and multivariate time series analysis  for Irish Beef Monday

## The revised research question
How has Ireland's beef sector performed compared to the EU 27 countries since 2000, and can we forecast future prices using this historical data? Additionally, what can we learn from sentiment analysis of the beef industry during this time period? By focusing on data from 2000 onwards, we can better capture the current state of the beef industry and make more relevant predictions about future trends. At the end of 1999, the Benelux union ceased to report beef stock data as a single entity, as each member country began reporting its data individually. This change reflected the increasing economic development and growth of the individual countries within the union. This not only created the data reason for us to only researh the 21st era but it also provides a fiscal reason for the refining of the researh question.
## Libraries,   modules and orientation

In [41]:

### Data Manipulation and Analysis
import csv
import pandas as pd
import numpy as np
import fancyimpute
import missingno as msno
from functools import partial, reduce

### Data Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import matplotlib.image as mpimg

### Statistical Analysis
from scipy.stats import ks_2samp, shapiro

### Machine Learning
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.impute import SimpleImputer
from sklearn.linear_model import ElasticNet, Lasso, LinearRegression, Ridge
from sklearn.metrics import mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import LinearSVR

### Text Processing
import html
import re

### Country Information
from countryinfo import CountryInfo
import pycountry
from countrygroups import EUROPEAN_UNION

### File System and OS
import glob
import os

### Date and Time
import datetime
import time

### Data Presentation
from tabulate import tabulate
from IPython.display import HTML, Image, display

### Data Types
from typing import Dict, List, Tuple

os.getcwd()

'C:\\Users\\ronan\\beef'


##  Combine CCKP  Timeseries Files and Add a CountryYear Key

The combine_timeseries_files function reads multiple CSV files from the rain or temperature subfolders.Referencing the first five rows of Rain_IRL_df  below  the first unnamed column gives the year and based on position the name of the country is extracted. The function then forms a Key by concatrenating the Country and Year values together. This 'Key' column  will be  used to merge with our Cattle Stocks data   to single dataframe. It filters to only include the first two columns, which are Year and corresponding weather measurements and as such, it drops all redundant regional readings. The resulting dataframe contains the weather data of 27 European countries.

In [42]:
Rain_IRL_df = pd.read_csv('rain/pr_timeseries_annual_cru_1901-2021_IRL.csv')# loads the individual Irish rain data
Rain_IRL_df.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,Variable:,pr
NaN,Ireland,Carlow,Cavan,Clare,Cork,Donegal,Dublin,Galway,Kerry,Kildare,Kilkenny,Laois,Leitrim,Limerick,Longford,Louth,Mayo,Meath,Monaghan,Munster,Offaly,Roscommon,Sligo,Tipperary,Waterford,Westmeath,Wexford,Wicklow
1901.0,1068.52,983.20,1018.93,1055.24,1153.06,1288.02,942.31,1044.95,1323.52,861.02,945.54,882.59,1184.19,1059.33,986.53,875.52,1156.31,861.07,933.47,933.47,851.14,1008.41,1206.83,1030.92,1129.96,901.61,988.85,978.16
1902.0,1016.31,965.42,939.44,1004.48,1119.44,1167.77,934.83,984.17,1277.05,857.92,926.28,863.97,1076.99,1022.06,907.86,834.92,1053.70,824.53,864.39,864.39,831.83,943.86,1087.75,1002.13,1101.99,852.81,967.98,966.45
1903.0,1368.16,1282.10,1235.62,1376.31,1525.32,1564.40,1197.84,1350.96,1747.10,1101.33,1236.78,1156.36,1443.61,1392.88,1209.04,1055.55,1445.43,1055.06,1131.68,1131.68,1116.15,1280.60,1479.39,1355.40,1484.59,1134.94,1275.17,1256.88
1904.0,1081.95,970.03,985.97,1114.46,1235.12,1282.28,902.41,1069.77,1421.42,844.14,938.61,872.85,1151.71,1107.92,946.22,824.66,1164.06,826.20,906.37,906.37,840.18,1003.16,1173.82,1041.08,1144.26,873.39,974.31,950.28



## The Climate Change Knowledge Portal. (n.d.). Retrieved February 20, 2023, from https://climateknowledgeportal.worldbank.org/

The Climate Change Knowledge Portal. (n.d.). Retrieved February 20, 2023, from https://climateknowledgeportal.worldbank.org/
To maintain consistency with the FAO data, annual and not monthly time series  aggregates were taken from the Climatic Research Unit (CRU) dataset for **precipitation** and   **mean-temperature**. These datasets are provided by the CRU TS 4.04 dataset, a gridded climate dataset produced by the Climatic Research Unit (CRU) at the University of East Anglia in the United Kingdom. In the statistics section, range, variance, and standard deviation of monthly data may be revisited for insights.

The file names and folder names of the CCKP data used in this project are tabulated below.

<span style="font-size: 24px;">Table : Table shows Time Series data filenames and folders  for 27 EU countries from  CCKP site </span>



| Country        | Code | TasAnnual (Folder with Tempature data)                              | PrAnnual   (Folder with Precipitation Data)                        |
|:--------------:|:----:|:--------------------------------------:|:---------------------------------:|
| Albania        | ALB  | tas_timeseries_annual_cru_1901-2021_ALB.csv | pr_timeseries_annual_cru_1901-2021_ALB.csv |
| Andorra        | AND  | tas_timeseries_annual_cru_1901-2021_AND.csv | pr_timeseries_annual_cru_1901-2021_AND.csv |
| Austria        | AUT  | tas_timeseries_annual_cru_1901-2021_AUT.csv | pr_timeseries_annual_cru_1901-2021_AUT.csv |
| Belarus        | BLR  | tas_timeseries_annual_cru_1901-2021_BLR.csv | pr_timeseries_annual_cru_1901-2021_BLR.csv |
| Belgium        | BEL  | tas_timeseries_annual_cru_1901-2021_BEL.csv | pr_timeseries_annual_cru_1901-2021_BEL.csv |
| Bosnia and Herzegovina | BIH  | tas_timeseries_annual_cru_1901-2021_BIH.csv | pr_timeseries_annual_cru_1901-2021_BIH.csv |
| Bulgaria       | BGR  | tas_timeseries_annual_cru_1901-2021_BGR.csv | pr_timeseries_annual_cru_1901-2021_BGR.csv |
| Croatia        | HRV  | tas_timeseries_annual_cru_1901-2021_HRV.csv | pr_timeseries_annual_cru_1901-2021_HRV.csv |
| Cyprus         | CYP  | tas_timeseries_annual_cru_1901-2021_CYP.csv | pr_timeseries_annual_cru_1901-2021_CYP.csv |
| Czech Republic | CZE  | tas_timeseries_annual_cru_1901-2021_CZE.csv | pr_timeseries_annual_cru_1901-2021_CZE.csv |
| Denmark        | DNK  | tas_timeseries_annual_cru_1901-2021_DNK.csv | pr_timeseries_annual_cru_1901-2021_DNK.csv |
| Estonia        | EST  | tas_timeseries_annual_cru_1901-2021_EST.csv | pr_timeseries_annual_cru_1901-2021_EST.csv |
| Finland        | FIN  | tas_timeseries_annual_cru_1901-2021_FIN.csv | pr_timeseries_annual_cru_1901-2021_FIN.csv |
| France         | FRA  | tas_timeseries_annual_cru_1901-2021_FRA.csv | pr_timeseries_annual_cru_1901-2021_FRA.csv |
| Germany        | DEU  | tas_timeseries_annual_cru_1901-2021_DEU.csv | pr_timeseries_annual_cru_1901-2021_DEU.csv |
| Gibraltar      | GIB  | tas_timeseries_annual_cru_1901-2021_GIB.csv | pr_timeseries_annual_cru_1901-2021_GIB.csv |
| Greece | GRC | tas_timeseries_annual_cru_1901-2021_GRC.csv | pr_timeseries_annual_cru_1901-2021_GRC.csv |
| Croatia | HRV | tas_timeseries_annual_cru_1901-2021_HRV.csv | pr_timeseries_annual_cru_1901-2021_HRV.csv |
| Hungary | HUN | tas_timeseries_annual_cru_1901-2021_HUN.csv | pr_timeseries_annual_cru_1901-2021_HUN.csv |
| Ireland | IRL | tas_timeseries_annual_cru_1901-2021_IRL.csv | pr_timeseries_annual_cru_1901-2021_IRL.csv |
| Italy | ITA | tas_timeseries_annual_cru_1901-2021_ITA.csv | pr_timeseries_annual_cru_1901-2021_ITA.csv |
| Lithuania | LTU | tas_timeseries_annual_cru_1901-2021_LTU.csv | pr_timeseries_annual_cru_1901-2021_LTU.csv |
| Luxembourg | LUX | tas_timeseries_annual_cru_1901-2021_LUX.csv | pr_timeseries_annual_cru_1901-2021_LUX.csv |
| Latvia | LVA | tas_timeseries_annual_cru_1901-2021_LVA.csv | pr_timeseries_annual_cru_1901-2021_LVA.csv |
| Malta | MLT | tas_timeseries_annual_cru_1901-2021_MLT.csv | pr_timeseries_annual_cru_1901-2021_MLT.csv |
| Netherlands | NLD | tas_timeseries_annual_cru_1901-2021_NLD.csv | pr_timeseries_annual_cru_1901-2021_NLD.csv |
| Poland | POL | tas_timeseries_annual_cru_1901-2021_POL.csv | pr_timeseries_annual_cru_1901-2021_POL.csv |
| Portugal | PRT | tas_timeseries_annual_cru_1901-2021_PRT.csv | pr_timeseries_annual_cru_1901-2021_PRT.csv |
| Romania | ROU | tas_timeseries_annual_cru_1901-2021_ROU.csv | pr_timeseries_annual_cru_1901-2021_ROU.csv |
| Slovakia | SVK | tas_timeseries_annual_cru_1901-2021_SVK.csv | pr_timeseries_annual_cru_1901-2021_SVK.csv |
| Slovenia | SVN | tas_timeseries_annual_cru_1901-2021_SVN.csv | pr_timeseries_annual_cru_1901-2021_SVN.csv |
| Sweden | SWE | tas_timeseries_annual_cru_1901-2021_SWE.csv | pr_timeseries_annual_cru_1901-2021_SWE.csv |


All datasets from the CCKP are licensed under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO (CC BY-NC-SA 3.0 IGO). 
Source: CCKP (2023). Time Series datasets. Retrieved from [https://climateknowledgeportal.worldbank.org/download-data].



####   CCKP Data  and an initial bit of EDA

<div style="display: flex; justify-content: center;">
  <img src="../images/we28.png" alt="image19" style="width: 30%;">
  <img src="../images/we29.png" alt="image20" style="width: 30%;">
    <img src="../images/we30.png" alt="image20" style="width: 30%;">
</div>

<span style="font-size: 18px;">Figure 3:Time Series Data downloaded for 27 EU countries from  CCKP site </span>

In [43]:
def combine_timeseries_files(path: str, subfolder: str, col_name: str) -> pd.DataFrame:
    """Reads in all CSV files in the given subfolder of the directory, renames the first unnamed column based on its position,
    and combines the resulting dataframes together into a single dataframe.
    Args:
        path (str): The relative path of the directory containing the data.
        subfolder (str): The name of the subfolder within the directory to read the CSV files from.
        col_name (str): The name to assign to the specified column in the resulting dataframe.
    Returns:
        pandas.DataFrame: The resulting dataframe after combining data from all CSV files in the specified subfolder.
    """
    try:
        folder_path = os.path.join(path, subfolder)
        csv_filenames = glob.glob(folder_path + "/*.csv")
        # Read in all CSV files, rename the first unnamed column based on position, and filter to only include the 'key' and specified column
        processed_dfs = []
        for filename in csv_filenames:
            file_path = os.path.join(path, subfolder, os.path.basename(filename))
            df = pd.read_csv(file_path, on_bad_lines='skip', skiprows=1)
            if df.columns[0].startswith("Unnamed"):
                df.rename(columns={df.columns[0]: "Year"}, inplace=True)
            df['Key'] = df.columns[1] + df['Year'].astype(str)
            df.rename(columns={df.columns[1]: col_name}, inplace=True)
            df = df.filter(['Key', col_name])
            processed_dfs.append(df)
        # Concatenate all dataframes into a single dataframe
        df = pd.concat(processed_dfs, ignore_index=True)
        return df
    except Exception as e:
        print(f"Error combining CSV files in folder {folder_path}: {e}")

## The FAOSTAT and CCKP data become one!

In [44]:
rain_df = combine_timeseries_files('', 'rain', 'R_mm/y')
# save the rain DataFrame to a CSV file
rain_df.to_csv('clean/rain.csv', index=False)
rain_df.head()

           Key   R_mm/y
0  Austria1901  1052.84
1  Austria1902  1061.55
2  Austria1903  1201.34
3  Austria1904  1146.14
4  Austria1905  1127.85

In [45]:
temperature_df = combine_timeseries_files('', 'temperature', 'T(\u00b0C)')
# save the rain DataFrame to a CSV file
temperature_df.to_csv('clean/temperature.csv', index=False)
temperature_df

              Key  T(°C)
0     Austria1901   5.41
1     Austria1902   5.34
2     Austria1903   5.88
3     Austria1904   6.22
4     Austria1905   5.79
...           ...    ...
3262   Sweden2017   3.16
3263   Sweden2018   3.62
3264   Sweden2019   3.34
3265   Sweden2020   4.47
3266   Sweden2021   3.02

[3267 rows x 2 columns]

In [46]:

main_df = pd.read_csv('clean/stock.csv')# loads the cleaned cattle stock  CSV file to pandas DataFrame n df
main_df

     Country  Year    Stock
0    Austria  2000  2152811
1    Austria  2001  2155447
2    Austria  2002  2118454
3    Austria  2003  2066942
4    Austria  2004  2052033
..       ...   ...      ...
589   Sweden  2017  1448590
590   Sweden  2018  1435450
591   Sweden  2019  1404670
592   Sweden  2020  1390960
593   Sweden  2021  1389890

[594 rows x 3 columns]

In [47]:
# assuming the dataframe is called 'df'
main_df['Key'] = main_df['Country'].str.cat(main_df['Year'].astype(str), sep='_')
main_df

     Country  Year    Stock           Key
0    Austria  2000  2152811  Austria_2000
1    Austria  2001  2155447  Austria_2001
2    Austria  2002  2118454  Austria_2002
3    Austria  2003  2066942  Austria_2003
4    Austria  2004  2052033  Austria_2004
..       ...   ...      ...           ...
589   Sweden  2017  1448590   Sweden_2017
590   Sweden  2018  1435450   Sweden_2018
591   Sweden  2019  1404670   Sweden_2019
592   Sweden  2020  1390960   Sweden_2020
593   Sweden  2021  1389890   Sweden_2021

[594 rows x 4 columns]

In [48]:
"""
Adds a unique key column to our dataframe 
based on the "Country" and "Year" columns by casting year to string type.
"""
main_df['Key'] = main_df['Country'] + main_df['Year'].astype(str)# adds a unique key column 
main_df

     Country  Year    Stock          Key
0    Austria  2000  2152811  Austria2000
1    Austria  2001  2155447  Austria2001
2    Austria  2002  2118454  Austria2002
3    Austria  2003  2066942  Austria2003
4    Austria  2004  2052033  Austria2004
..       ...   ...      ...          ...
589   Sweden  2017  1448590   Sweden2017
590   Sweden  2018  1435450   Sweden2018
591   Sweden  2019  1404670   Sweden2019
592   Sweden  2020  1390960   Sweden2020
593   Sweden  2021  1389890   Sweden2021

[594 rows x 4 columns]

In [49]:
main_df = pd.merge(main_df, rain_df, on='Key')
main_df.head()

   Country  Year    Stock          Key   R_mm/y
0  Austria  2000  2152811  Austria2000  1171.79
1  Austria  2001  2155447  Austria2001  1058.36
2  Austria  2002  2118454  Austria2002  1212.56
3  Austria  2003  2066942  Austria2003   891.80
4  Austria  2004  2052033  Austria2004  1080.30

In [56]:
main_df = pd.merge(main_df, temperature_df, on='Key')
main_df

     Country  Year    Stock          Key   R_mm/y  T(°C)_x  T(°C)_y
0    Austria  2000  2152811  Austria2000  1171.79     7.97     7.97
1    Austria  2001  2155447  Austria2001  1058.36     7.03     7.03
2    Austria  2002  2118454  Austria2002  1212.56     7.73     7.73
3    Austria  2003  2066942  Austria2003   891.80     7.35     7.35
4    Austria  2004  2052033  Austria2004  1080.30     6.75     6.75
..       ...   ...      ...          ...      ...      ...      ...
589   Sweden  2017  1448590   Sweden2017   678.22     3.16     3.16
590   Sweden  2018  1435450   Sweden2018   539.63     3.62     3.62
591   Sweden  2019  1404670   Sweden2019   682.36     3.34     3.34
592   Sweden  2020  1390960   Sweden2020   669.34     4.47     4.47
593   Sweden  2021  1389890   Sweden2021   608.87     3.02     3.02

[594 rows x 7 columns]

In [57]:
"""We will bring in another predictor manually before automating
The unwanted area and years are filtered out by the process Next  LandCover """
os.listdir('./raw')

['.ipynb_checkpoints',
 'AnnualPopulation.csv',
 'arch',
 'beefandbuffalo.csv',
 'ConsumerPriceIndices.csv',
 'CropsAndlivestockCattleFeed.csv',
 'Deflators.csv',
 'DetailedTradeMatrix.csv',
 'ExchangeRates.csv',
 'FertilizersByNutrient.csv',
 'grasslands.csv',
 'LandCover.csv',
 'LandUse.csv',
 'LandUseIndicators.csv',
 'land_pasture.csv',
 'land_use_all_items_area_eu28.csv',
 'Livestock Manure.csv',
 'LivestockManure.csv',
 'LivestockPatterns.csv',
 'manure.csv',
 'ManureManagement.csv',
 'meat.csv',
 'nutrient.csv',
 'price.csv',
 'ProducerPrices.csv',
 'ProductionIndices.csv',
 'pr_timeseries__IRL.csv',
 'stocks.csv',
 'tas_timeseries_IRL.csv',
 'TCC-Metadata.csv',
 'temperature_change.csv',
 'temperature_sd.csv',
 'TradeIndices.csv',
 'ValueofAgricultural Production.csv',
 'yield.csv']

predictor variables to include in the analysis.
-  production volume
- imports
- exports and 
- slaughter numbers.

In [73]:
import pandas as pd

def read_data(file_path):
    # Read in the data
    df = pd.read_csv(file_path)
    return df

def clean_column_names(df):
    # Replace forward slashes, backslashes, and commas in column names with underscores
    df.columns = df.columns.str.replace('[/\\\\, (,) ,=  ]', '_')
    return df

def clean_element_item_values(df):
    # Replace forward slashes, backslashes, commas, periods, and hyphens in Element and Item values with underscores
    df['Element'] = df['Element'].str.replace('[/\\\\, (,) , =  ]', '_')
    df['Item'] = df['Item'].str.replace('[/\\\\, (,), =   -\.]', '_')
    return df


def drop_rows(df):
    # Drop rows where Area is 'Belgium-Luxembourg'
    df = df[df['Area'] != 'Belgium-Luxembourg']
    return df

def generate_key_column(df):
    # Merge Area and Year columns into a new Key column
    df['Key'] = df['Area'] + '_' + df['Year'].astype(str)
    return df

def filter_dataframes(df):
    # Generate a list of dataframes, with each dataframe filtered by Element and Item
    dfs = []
    for element in df['Element'].unique():
        for item in df['Item'].unique():
            element_item_df = df[(df['Element'] == element) & (df['Item'] == item)]
            if not element_item_df.empty:
                # Replace spaces with underscores in dataframe names
                element_item_name = element + '_' + item.replace(' ', '_') + '_df'
                dfs.append(element_item_name)
                # Replace spaces with underscores in dataframe variable names
                exec(element_item_name.replace(' ', '_') + ' = element_item_df')

    # Return a dictionary of the dataframes
    return {name: globals()[name] for name in dfs}

def preprocess_data(file_path):
    df = read_data(file_path)
    df = clean_column_names(df)
    df = clean_element_item_values(df)
    df = drop_rows(df)
    df = generate_key_column(df)
    return filter_dataframes(df)

In [74]:
dfs = preprocess_data('raw/ProducerPrices.csv')

C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\544415169.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('[/\\\\, (,) ,=  ]', '_')
C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\544415169.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Element'] = df['Element'].str.replace('[/\\\\, (,) , =  ]', '_')
C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\544415169.py:16: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Item'] = df['Item'].str.replace('[/\\\\, (,), =   -\.]', '_')

SyntaxError: invalid decimal literal (<string>, line 1)

In [52]:
dfs = preprocess_data('raw/beefandbuffalo.csv')
print(dfs.keys())  # prints a list of the names of the processed dataframes

dict_keys(['Yield_Carcass_Weight_Meat_of_cattle_with_the_bone__fresh_or_chilled_df', 'Yield_Carcass_Weight_Beef_and_Buffalo_Meat__primary_df', 'Yield_Carcass_Weight_Meat_of_buffalo__fresh_or_chilled_df', 'Production_Meat_of_cattle_with_the_bone__fresh_or_chilled_df', 'Production_Beef_and_Buffalo_Meat__primary_df', 'Production_Meat_of_buffalo__fresh_or_chilled_df', 'Producing_Animals_Slaughtered_Meat_of_cattle_with_the_bone__fresh_or_chilled_df', 'Producing_Animals_Slaughtered_Beef_and_Buffalo_Meat__primary_df', 'Producing_Animals_Slaughtered_Meat_of_buffalo__fresh_or_chilled_df'])

C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\1933929320.py:6: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('[/\\\\, ]', '_')
C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\1933929320.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Element'] = df['Element'].str.replace('[/\\\\, ]', '_')
C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\1933929320.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Item'] = df['Item'].str.replace('[/\\\\, ]', '_')

In [34]:


import pandas as pd

# Read in the data
df = pd.read_csv("raw/beefandbuffalo.csv")

# Replace forward slashes, backslashes, and commas in column names with underscores
df.columns = df.columns.str.replace('[/\\\\, ]', '_')

# Replace forward slashes, backslashes, and commas in Element and Item values with underscores
df['Element'] = df['Element'].str.replace('[/\\\\, ]', '_')
df['Item'] = df['Item'].str.replace('[/\\\\, ]', '_')

# Generate a list of dataframes, with each dataframe filtered by Element and Item
dfs = []
for element in df['Element'].unique():
    for item in df['Item'].unique():
        element_item_df = df[(df['Element'] == element) & (df['Item'] == item)]
        if not element_item_df.empty:
            # Replace spaces with underscores in dataframe names
            element_item_name = element + '_' + item.replace(' ', '_') + '_df'
            dfs.append(element_item_name)
            # Replace spaces with underscores in dataframe variable names
            exec(element_item_name.replace(' ', '_') + ' = element_item_df')

# Print out the names of the dataframes for verification
print(dfs)

['Yield_Carcass_Weight_Meat_of_cattle_with_the_bone__fresh_or_chilled_df', 'Yield_Carcass_Weight_Beef_and_Buffalo_Meat__primary_df', 'Yield_Carcass_Weight_Meat_of_buffalo__fresh_or_chilled_df', 'Production_Meat_of_cattle_with_the_bone__fresh_or_chilled_df', 'Production_Beef_and_Buffalo_Meat__primary_df', 'Production_Meat_of_buffalo__fresh_or_chilled_df', 'Producing_Animals_Slaughtered_Meat_of_cattle_with_the_bone__fresh_or_chilled_df', 'Producing_Animals_Slaughtered_Beef_and_Buffalo_Meat__primary_df', 'Producing_Animals_Slaughtered_Meat_of_buffalo__fresh_or_chilled_df']

C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\613170935.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('[/\\\\, ]', '_')
C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\613170935.py:10: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Element'] = df['Element'].str.replace('[/\\\\, ]', '_')
C:\Users\ronan\AppData\Local\Temp\ipykernel_8692\613170935.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Item'] = df['Item'].str.replace('[/\\\\, ]', '_')

In [40]:

def preprocess_data(file_path):
    # Read in the data
    df = pd.read_csv(file_path)

    # Replace forward slashes, backslashes, and commas in column names with underscores
    df.columns = df.columns.str.replace('[/\\\\, ]', '_')

    # Replace forward slashes, backslashes, and commas in Element and Item values with underscores
    df['Element'] = df['Element'].str.replace('[/\\\\, ]', '_')
    df['Item'] = df['Item'].str.replace('[/\\\\, ]', '_')

    # Drop rows where Area is 'Belgium-Luxembourg'
    df = df[df['Area'] != 'Belgium-Luxembourg']

    # Merge Area and Year columns into a new Key column
    df['Key'] = df['Area'] + '_' + df['Year'].astype(str)

    # Generate a list of dataframes, with each dataframe filtered by Element and Item
    dfs = []
    for element in df['Element'].unique():
        for item in df['Item'].unique():
            element_item_df = df[(df['Element'] == element) & (df['Item'] == item)]
            if not element_item_df.empty:
                # Replace spaces with underscores in dataframe names
                element_item_name = element + '_' + item.replace(' ', '_') + '_df'
                dfs.append(element_item_name)
                # Replace spaces with underscores in dataframe variable names
                exec(element_item_name.replace(' ', '_') + ' = element_item_df')

    # Return a dictionary of the dataframes
    return {name: globals()[name] for name in dfs}

In [39]:
YiCaMe_df=Yield_Carcass_Weight_Meat_of_cattle_with_the_bone__fresh_or_chilled_df

YiCaMe_df

,Domain_Code,Domain,Area_Code_(M49),Area,Element_Code,Element,Item_Code_(CPC),Item,Year_Code,Year,Unit,Value,Flag,Flag_Description
0,QCL,Crops and livestock products,40,Austria,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2000,2000,hg/An,3031.0,A,Official figure
1,QCL,Crops and livestock products,40,Austria,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2001,2001,hg/An,2993.0,A,Official figure
2,QCL,Crops and livestock products,40,Austria,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2002,2002,hg/An,2995.0,A,Official figure
3,QCL,Crops and livestock products,40,Austria,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2003,2003,hg/An,3033.0,A,Official figure
4,QCL,Crops and livestock products,40,Austria,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2004,2004,hg/An,3058.0,A,Official figure
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3686,QCL,Crops and livestock products,752,Sweden,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2017,2017,hg/An,3253.0,A,Official figure
3687,QCL,Crops and livestock products,752,Sweden,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2018,2018,hg/An,3181.0,A,Official figure
3688,QCL,Crops and livestock products,752,Sweden,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2019,2019,hg/An,3195.0,A,Official figure
3689,QCL,Crops and livestock products,752,Sweden,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2020,2020,hg/An,3212.0,A,Official figure
3690,QCL,Crops and livestock products,752,Sweden,5417,Yield_Carcass_Weight,21111.01,Meat_of_cattle_with_the_bone__fresh_or_chilled,2021,2021,hg/An,3263.0,A,Official figure

In [36]:
beefandbuffalo_df = pd.read_csv( 'raw/beefandbuffalo.csv', on_bad_lines='skip')   # loads Land USe Domain
beefandbuffalo_df.head(5)

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,QCL,Crops and livestock products,40,Austria,5417,Yield/Carcass Weight,21111.01,"Meat of cattle with the bone, fresh or chilled",2000,2000,hg/An,3031.0,A,Official figure
1,QCL,Crops and livestock products,40,Austria,5417,Yield/Carcass Weight,21111.01,"Meat of cattle with the bone, fresh or chilled",2001,2001,hg/An,2993.0,A,Official figure
2,QCL,Crops and livestock products,40,Austria,5417,Yield/Carcass Weight,21111.01,"Meat of cattle with the bone, fresh or chilled",2002,2002,hg/An,2995.0,A,Official figure
3,QCL,Crops and livestock products,40,Austria,5417,Yield/Carcass Weight,21111.01,"Meat of cattle with the bone, fresh or chilled",2003,2003,hg/An,3033.0,A,Official figure
4,QCL,Crops and livestock products,40,Austria,5417,Yield/Carcass Weight,21111.01,"Meat of cattle with the bone, fresh or chilled",2004,2004,hg/An,3058.0,A,Official figure

In [ ]:
dfs = create_dfs(beefandbuffalo_df)
df_names = [name for name, _ in dfs]
df_names

In [ ]:
Producing_Animals_Slaughtered_Beef_and_Buffalo_Meat__primary_df.head()

In [ ]:
df_list = group_by_element_item(beefandbuffalo_df)

# loop over the list and print the name of each dataframe and its first few rows
for i, df in enumerate(df_list):
    print(f"Dataframe {i}: {df.columns[0]} - {df.columns[1]}")
    print(df.head())
    print()

In [ ]:
Dataframe 1

In [ ]:
# iterate over the groups and create new dataframes
for group_name, group_data in grouped_df:
    # create a new dataframe with the group data
    new_df = group_data.copy()

    # append the new dataframe to the list
    df_list.append(new_df)

    # print the first few rows of the new dataframe
    print("New dataframe created: ", group_name)
    new_df.head()

In [ ]:
Production=df_list[1]
Production
# assuming the dataframe is called 'Production'
unique_items = Production['Item'].unique()
print(unique_items)

In [ ]:
# 
grouped_df = beefandbuffalo_df.groupby('Element')

In [ ]:
# iterate over the groups and create new dataframes
for group_name, group_data in grouped_df:
    # create a new dataframe with the group data
    new_df_name = group_name + "_df"
    locals()[new_df_name] = group_data

In [ ]:
# assuming the original dataframe is called 'df'
grouped_df = df.groupby('Element')
df_list = []

In [ ]:
    # print the first few rows of the new dataframe
    print("New dataframe created: ", new_df_name)
    print(locals()[new_df_name].head())

In [ ]:


def filters(df):
    # Delete the "Belgium-Luxembourg" column
    if "Belgium-Luxembourg" in df.columns:
        df = df.drop("Belgium-Luxembourg", axis=1)

    # Filter the "Year" column to only include years greater than or equal to 2000
    df = df[df["Year"] >= 2000]

    return df

In [ ]:
# Get a list of unique countries from the "Area" column
countries = df['Area'].unique()
countries

In [ ]:
# count the number of missing values in each column
missing_values = df.isnull().sum()

# print the result
print(missing_values)

In [ ]:
# Count the number of areas with missing values
num_missing_areas = df['Area'][df.isna().any(axis=1)].nunique()

# Print the result
print("The number of areas with missing values is:", num_missing_areas)

In [ ]:
31900/1708 # 20% data is missing

In [ ]:
df.shape

In [ ]:
snake('Distribution of Missing Values by Area')

In [ ]:
snake('msno.matrix(df)')

In [ ]:
msno.matrix(df)

In [ ]:
# create a bar chart of the missing value counts by year
plt.figure(figsize=(20,8))  # increase the figure size for better readability
ax = year_counts.plot(kind='bar')
plt.xlabel('Year', fontsize=14)
plt.ylabel('Number of Missing Values', fontsize=14)
plt.title('Distribution of Missing Values by Year', fontsize=18)
plt.xticks(rotation=0, fontsize=12)  # rotate x-axis labels to 0 degrees
ax.tick_params(axis='y', labelsize=12)  # adjust y-axis label size
ax.tick_params(axis='x', pad=10)  # adjust x-axis tick padding

# add value labels to the bars
for i, v in enumerate(year_counts):
    ax.text(i, v, str(v), ha='center', va='bottom', fontweight='bold', fontsize=12)

# set year labels vertically
ax.set_xticklabels(year_counts.index, rotation=90)

plt.show()

In [ ]:
""" 
A new dataframe with counts of missing values 
for each country was sorted in descending order
revealing  the top 10 countries

"""


# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=False)

# get the top 10 countries with the most missing values
top_10_countries = country_counts.head(10)

# print the list of top 10 countries
print(top_10_countries)

In [ ]:
# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=True)

# get the list of countries with any missing values
missing_countries = country_counts[country_counts > 0].index

# print the list of countries with missing values
print("Countries with missing values:\n", missing_countries)

In [ ]:
# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=True)

# get the list of countries with any missing values
missing_countries = country_counts[country_counts > 0].index

# print the list of countries with missing values
print("Countries with missing values:\n", missing_countries)

In [ ]:
# create a new dataframe to hold the counts of missing values by country
country_counts = df.isnull().sum(axis=1).groupby(df.Area).sum().sort_values(ascending=True)

# get the list of countries with any missing values
missing_countries = country_counts[country_counts > 0]

# create a new dataframe with the missing value counts and the total number of observations for each country
mv_counts = pd.concat([missing_countries, df.groupby('Area').size()], axis=1)
mv_counts.columns = ['Missing Values', 'Total Observations']

# calculate the proportion of missing values for each country
mv_counts['% Missing'] = mv_counts['Missing Values'] / mv_counts['Total Observations'] * 100

# sort the dataframe by the proportion of missing values in descending order
mv_counts = mv_counts.sort_values('% Missing', ascending=False)

# display the table
print(mv_counts.to_string())

In [ ]:

# group the data by Area and compute the total count of missing values for each group
area_counts = df.isnull().sum(axis=1).groupby(df.Area).sum()

# create a bar chart of the missing value counts by Area
plt.figure(figsize=(10,5))
ax = area_counts.plot(kind='bar')
plt.xlabel('Area')
plt.ylabel('Number of Missing Values')
plt.title('Distribution of Missing Values by Area')
plt.xticks(rotation=45)

# add value labels to the bars
for i, v in enumerate(area_counts):
    ax.text(i, v, str(v), ha='center', va='bottom', fontweight='bold')

plt.show()

In [ ]:
df.dtypes

In [ ]:
"""
#### Title 
The 'title' naming convention is where each word starts
with a capital letter, except for prepositions and conjunctions, which start with a lowercase letter. 
The function takes a string as input and converts it to title case, 
where the first letter of each non-conjunction/preposition word is capitalized, and all other letters are lowercase.
It achieves this by splitting the input string into a list of words, identifying which words are prepositions or conjunctions based on a predefined list, and then capitalizing the first letter of all other words while converting prepositions and conjunctions to lowercase. The resulting list of processed words is then joined back into a single string with proper spacing and returned.
"""
def title(sentence):
    """
    Takes a string and converts it to title case, where the first letter of each
    non-conjunction/preposition word is capitalized, and all other letters are lowercase.
    
    Args:
        sentence (str): The string to convert to title case.
        
    Returns:
        str: The input string converted to title case.
    """
    # Define a list of common prepositions and conjunctions
    prepositions_conjunctions = ['a', 'this', 'an', 'the', 'and', 'but', 'or', 'for', 'has', 'nor', 'on', 'at', 'to', 'from', 'by', 'over', 'under', 'in', 'out', 'of']
    # Split the input string into a list of words
    words = sentence.split()
    processed_words = []
    for word in words:
        # If the word is not a preposition or conjunction, capitalize the first letter and lowercase the rest
        if word.lower() not in prepositions_conjunctions:
            processed_words.append(word.capitalize())
        # If the word is a preposition or conjunction, convert to lowercase
        else:
            processed_words.append(word.lower())
    # Join the list of processed words into a single string, with proper spacing
    output = " ".join(processed_words)
    # Remove any leading/trailing whitespace and add some padding
    return "     " + re.sub('\s+', ' ', output.strip()) + "     "

In [ ]:
unique_describtions = df['Flag Description'].unique()
print(unique_describtions)

In [ ]:
df

In [ ]:
df= df[df['Year'] > 1999]

In [ ]:
df.sample(11)

In [ ]:
df['Key'] = df['Area'] + '_' + df['Year'].astype(str)

In [ ]:
df.sample(22)

In [ ]:
flag_values = df['Flag Description'].unique()
print(flag_values)

In [ ]:
df = df.drop(['Domain Code', 'Domain', 'Area Code (M49)', 'Element Code', 'Element', 'Item Code (CPC)', 'Year Code', 'Year', 'Unit', 'Flag Description'], axis=1)

In [ ]:
import matplotlib.pyplot as plt

# count the frequency of NaN and 'Official figure' values in the 'Flag Description' column
flag_counts = df['Flag Description'].value_counts(dropna=False)

# plot a pie chart of the flag counts
plt.figure(figsize=(6, 6))
plt.pie(flag_counts, labels=flag_counts.index, autopct='%1.1f%%')
plt.title('Flag Description Frequencies')
plt.show()

In [ ]:
nan_countries = df[df.isna().any(axis=1)]['Area'].unique()

print(nan_countries)

In [ ]:
unique_areas = df['Area'].unique()
print(unique_areas)

In [ ]:
bl_data = df[df['Area'] == 'Belgium-Luxembourg']
bl_data.head(60)

In [ ]:
luxembourg_data = df[df["Area"] == "Luxembourg"]

In [ ]:
df[df["Area"] == "Luxembourg"].head(70)

In [ ]:
df[df['Area'] == 'Belgium'].head(60)

In [ ]:
num_areas = df['Area'].nunique()
print('Number of unique areas:', num_areas)

In [ ]:
# drop rows for Belgium-Luxembourg
df = df.drop(index=df[df["Area"] == "Belgium-Luxembourg"].index)

In [ ]:
df.head(60)

In [ ]:
"""
removeing extraneous columns
"""

df = df.drop(['flag','Domain Code', 'Domain', 'Area Code (M49)', 'Element Code', 'Element', 'Item Code (CPC)', 'Year Code', 'Year', 'Unit', 'Flag Description'], axis=1)

In [ ]:
#### Snake
def snake(text, default='default'):
    """
    Converts a given string to snake_case by replacing any whitespace characters with underscores,
    converting to all lowercase, and removing any non-alphanumeric characters from the beginning and end.

    Parameters:
        text (str): The string to convert to snake_case.
        default (str): The default value to return if the input text is empty.

    Returns:
        str: The resulting string in snake_case format, or the default value if the input text is empty.
    """
    if not text:
        return default
    # Convert to string and replace any non-alphanumeric characters at the beginning and end with an empty string
    text = re.sub(r'^\W+|\W+$', '', str(text))
    # Replace any period symbols with underscores
    text = text.replace('.', '')
    # Replace any other non-alphanumeric characters with empty strings
    text = re.sub(r'\W+', '_', text)
    # Convert to all lowercase
    text = text.lower()
    return text

# Example usage:
text = "This is a text with periods. (And other characters.)"
result = snake(text)
print(result)  # Output: "this_is_a_text_with_periods_and_other_characters"


# snake('does snake Work')

# snake('                  ')
# snake('                  ')
# snake('                  ')

In [ ]:
snake('"This is a text with periods. (And other characters.)"')

####  Pascal
The 'pascal' naming function takes in a string as input and converts it to a PascalCase format. PascalCase is a naming convention where the first letter of each word is capitalized, and there are no spaces or separators between the words.

In [ ]:
def pascal(string):
    """
    Convert a space- or snake-separated string to PascalCase.

    Parameters:
        string (str): The input string to convert to PascalCase.

    Returns:
        str: The input string in PascalCase format.

    """
    # Replace any underscores with spaces
    string = string.replace("_", " ")
    # Capitalize the first letter of each word
    words = string.title()
    # Remove any remaining spaces
    words = words.replace(" ", "")
    return words

In [ ]:
"""
#### Camel

Camel case is a naming convention in which each word in a compound word is capitalized, except for the first word which is in lower case. It is commonly used in programming languages for naming variables and functions.

handles both snake_case and space-separated strings
"""
def camel(string):
    """
    Convert a space-separated or snake_case string to camelCase.

    Parameters:
        string (str): The string to convert.

    Returns:
        str: The converted string in camelCase.
    """
    # Replace underscores with spaces and split the string into a list of words
    words = string.replace("_", " ").split()
    # Convert the first word to lowercase and capitalize all subsequent words
    camel_cased = [words[0].lower()] + [word.capitalize() for word in words[1:]]
    # Concatenate the words together and return the resulting string
    return "    " + ''.join(camel_cased) + "    "

In [ ]:


def delete(file_name):
    file_path = os.path.join("..", "data", "raw", file_name)
    expected_ext = ".csv"
    if not file_path.endswith(expected_ext):
        print("Error: Invalid file extension. File extension must be .csv.")
    elif os.path.exists(file_path):
        os.remove(file_path)
        print(f"{file_name} deleted successfully")
    else:
        print(f"{file_name} not found")

#### Rename

This function first constructs the file_path by joining the ../data/raw directory with the given file_name. It then sets the expected file extension to .csv. The function then checks if the file_path ends with the expected file extension. If it doesn't, the function prints an error message. If it does, the function checks if the file exists at file_path, and if it does, it removes it and prints a success message. If the file doesn't exist, the function prints a "not found" message. like this:

In [ ]:
def rename(old_filename, new_filename):
    old_file_path = os.path.join("..", "data", old_filename)
    new_file_path = os.path.join("..", "data", new_filename)
    try:
        os.rename(old_file_path, new_file_path)
        print(f"{old_filename} renamed to {new_filename} successfully")
    except FileNotFoundError:
        print(f"{old_filename} not found")
    except FileExistsError:
        print(f"A file with the name {new_filename} already exists")
    except OSError:
        print("Invalid file path or name")

#### Replace

In [ ]:
def replace(input_str, find_str, replace_str):
    output_str = re.sub(find_str, replace_str, input_str)
    
    if output_str == input_str:
        warnings.warn("Replacement unsuccessful: '{}' not found in input string.".format(find_str))
    
    return output_str

In [ ]:
####  tabler

"""The code defines a function tabler that generates an HTML table with information on the files in a given folder and
adds a section header that contains the directory path 
"""

def tabler(folder_path):
    """
    Generate an HTML table with information on files in a given folder.

    Parameters:
    - folder_path (str): The path to the folder containing the files.

    Returns:
    - str: The HTML code for the table.
    """
    # Get the contents of the folder
    try:
        contents = os.listdir(folder_path)
    except FileNotFoundError:
        return "Directory not found"
    except OSError:
        return "Invalid folder path"

    # Create the section header
    header = f"### {folder_path}\n\n"

    # Create the table header
    table = '<table style="font-size:100%"><thead><tr><th>File Name</th><th>Size</th><th>Modified Time</th></tr></thead><tbody>'

    # Add a row for each file
    for item in contents:
        item_path = os.path.join(folder_path, item)
        if os.path.isfile(item_path):
            # Get the file size and modified time
            size_bytes = os.path.getsize(item_path)
            size_kb = size_bytes / 1024
            size_str = '{:,.2f} KB'.format(size_kb)
            modified_time = datetime.datetime.fromtimestamp(os.path.getmtime(item_path)).strftime('%Y-%m-%d %H:%M')
            # Add a row to the table
            table += '<tr><td>{}</td><td>{}</td><td>{}</td></tr>'.format(item, size_str, modified_time)

    # Close the table
    table += '</tbody></table>'

    return header + table